[2017-06-23 02:49] ncoghlan opened #1 "Improve our announcement strategy for significant PyPI changes"
Our current approach to significant announcements for PyPI is fairly ad hoc, and varies from case to case.

The lowest common denominator is to send a post to distutils-sig about it, and then @dstufft may tweet about it. Neither of these are great as pure announcement channels (since a lot of other things get posted there as well).

Examples:

* Big Query data set: https://mail.python.org/pipermai

[2017-06-23 02:56] offbyone commented on #1
Something to consider is that, while core devs et al are regular readers of these venues, or subscribed to mailing lists, I suspect the number of people who read them is dwarfed by the number of unique users who use tools like pip, even interactively. Per my twitter suggestion, integrating some kind of notification mechanism into pypi/pip -- one, ideally, that can be consumed by other services as

[2017-06-23 02:59] ericholscher commented on #1
+1 on putting a banner on pypi, and having that push to a blog & mailing list, which both get pushed out on update (via RSS & Mailing List). Having something in pip itself would be really neat, but likely require a decent bit of architecture, and also need to be more thought out.

[2017-06-23 03:02] kushaldas commented on #1
I would like to start writing blog posts on these points. They will not be big, but small and to the point related to the infrastructure improvements. I can work with the rest of psf-blog team if required.

[2017-06-23 03:02] ncoghlan commented on #1
If the PyPI announcement banner is structured as a JSON endpoint that the front-end queries (rather than injecting the message on the server), that should leave the door open to automating announcements in other contexts as well.

[2017-06-23 03:05] offbyone commented on #1
I agree; that's the model I'd expect to see. We actually do something similar as a notification method in-house, and it works pretty well. The userbase is a bit smaller than the pip user base, but not by as much as you'd think, and it scales pretty well too.

Honestly, TTY detection on Windows would probably be the hard part :)

[2017-06-23 03:17] ncoghlan commented on #1
OK, so here's an initial proposal:

Process changes:

- start with an "Announcement: <change>" issue here in the meta repository
- that's where we figure out the change title, the summary of the change, and the long form description of the change
- once we agree on those, then the title+summary get pushed out through PyPI/Warehouse (once that capability exists), while the long form goes out throug

[2017-06-23 03:27] offbyone commented on #1
That seems to cover enough of the bases for a solid start.

[2017-06-23 04:23] gvanrossum commented on #1
I feel so out of touch. I never knew about most of the things Nick mentioned.

I wonder if there aren't two different audiences that need different channels: developers who upload things, and people who download stuff. The latter presumably have less need to read about site changes, as long as pip still works (if the search box on the site changes they'll presumably figure it out). But uploaders m

[2017-06-23 04:25] offbyone commented on #1
That's why I think the interactive channel will pay off; you only have to modify the uploading tools -- most of which are somewhat interactive, or at least amenable to human oversight -- to get a lot of coverage for notices about site changes or issues.

[2017-06-23 04:44] ncoghlan commented on #1
I agree it's mainly the upload case where problems can arise - in addition to the two PEPs I already listed, a number of our other interoperability PEPs have also involved introducing new restrictions on uploads (e.g. requiring PEP 440 compliant version identifiers) where even though we took steps to minimise the negative impact, we're still potentially affecting the publication workflows of dozen

[2017-06-23 05:26] dstufft commented on #1
All of this sounds pretty good, and it shouldn't be very hard to add that into Warehouse even. At one point I even though about some sort of changelog like thing for PyPI (similiar to https://devcenter.heroku.com/changelog) so maybe something like that could be done, with the ability to flag something as an interactive notice for pip or twine but also provide a sort of feed of all the misc changes

[2017-08-07 02:04] ncoghlan commented on #1
Making another note based on https://github.com/pypa/packaging-problems/issues/98: since PyPI collects email addresses, we *do* have the option of emailing publishers directly.

While that has generated complaints from mail recipients in the past, that concern could potentially be mitigated by offering a "Notify me about potentially disruptive upcoming service changes" setting in user's profiles.

[2017-08-07 02:23] rsyring commented on #1
And making it VERY EASY to opt-out of the emails.  If you give a link in the emails that let's someone immediately unsubscribe, as opposed to having to login to a website, find password, find user profile, change preference (etc.), it seems like those who complain about the annoying emails can be pointed to the unsubscribe link and then politely ignored?

[2017-08-09 11:45] methane opened #2 "Enable dynamic compression at Fastly edge for d.p.o"
Currently, contents of docs.python.org are not compressed.

Instead of using nginx gzip_static module, Fastly provides nice option.
https://docs.fastly.com/guides/basic-configuration/enabling-automatic-gzipping

How about just enabling it?

[2017-08-31 03:42] ncoghlan commented on #1
In the "yet-another-announcement-channel" category, we're also started using https://packaging.python.org to hold a "What might I have missed?" guide at least for the PyPI service migration: https://packaging.python.org/guides/migrating-to-pypi-org/

[2017-10-03 21:51] vstinner opened #3 "blog.python.org in HTTPS doesn't provide a server certificate?"
Firefox simply doesn't let me open https://blog.python.org/ It seems like this website doesn't provide any server certificate!? First time that I see such issue.

OpenSSL output:

[code]

Compare it to a "normal" website like python.org (cert truncated):

[code]

Note: I first reported the issue at https://github.com/python/pythondotorg/issues/1159 but it was closed since it was the wrong issue tr

[2017-10-03 21:52] haypo commented on #3
@berkerpeksag suggested me to ping @MarkMangoba :-)

[2017-10-05 15:32] haypo opened #4 "Random TLS error on bugs.python.org"
I get random TLS errors while trying to connect to bugs.python.org.

I get the same error on IPv4 and IPv6.

OpenSSL client:

[code]

Interesting part of the output:

[code]

The full verbose output:

[code]

[2017-10-05 15:33] haypo commented on #4
I'm using Firefox 56 and OpenSSL 1.1.0f-fips  25 May 2017 on Fedora 26. Tell me if you need more information.

[2017-10-05 15:44] haypo commented on #4
I'm using bugs.python.org almost everyday (especially monday-friday), and I'm quite sure that it worked perfectly well until today. I don't know when exactly.

[2017-10-05 16:12] haypo commented on #4
Short shell script to test if you have the bug: run "openssl s_client" in a loop until it gets an error:

[code]

The script ends when the TLS connection fails and writes the full output into the file "out".

I tested from a different compute on a different network, but still in France: I reproduced the bug at the first connection!

[2017-10-05 16:47] ezio-melotti commented on #4
I tried to run the command and got a failure after 5-6 iteration.  The error I got is:
[code]
I did a second attempt with the same result after 12-13 iterations.

[2017-10-25 04:50] timm3 commented on #3
This issue is affecting me as well. Can a general ETA be given for https support of this sub-domain?

[2017-11-22 10:43] vstinner opened #5 "bugs.python.org doesn't reply on IPv6 ping"
Hi,

I can ping bugs.python.org on IPv4 but not IPv6. Is it on purpose?

I tried ping yesterday since the website was stuck in HTTP using IPv6, but worked on IPv4.

Victor

[2017-11-29 21:30] brainwane commented on #1
I'm deeply interested in us developing a robust set of announcement channels/methods for PyPI changes -- I'm working on [the new Warehouse deployment project](https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html), and I'll want to be able to notify the Python community before [we redirect pypi.python.org to pypi.org](https://github.com/pypa/warehouse/milestone/1) and at a few

[2017-11-29 22:47] vstinner opened #6 "bugs.python.org is unreachable in IPv6"
Hi,

The bugs.python.org server doesn't reply on IPv6 on tcp/443: I see "SYN_SENT" and then... nothing...

Example:

[code]

I found this issue while trying to query the XML-RPC of bugs.python.org. My code uses a xmlrpc.client.ServerProxy('https://bugs.python.org/xmlrpc', allow_none=True) object, which later calls socket.create_connection(('bugs.python.org', 443)) and this call hangs "forever".

S

[2017-11-30 03:05] ewdurbin commented on #6
Clear that the AAAA record isn’t set for the right address, so it was removed. TTL was 24 hours.

If we determine there is a good IPv6 address in the future we can set it once more.

[2017-11-30 03:05] ewdurbin commented on #5
https://github.com/python/psf-infra-meta/issues/6#issuecomment-348068915

[2017-11-30 04:05] ncoghlan commented on #1
A few specific items I would suggest:

* a dedicated "pypi-announce@python.org" mailing list (this is a +1 to @brainwane's suggestion, with a specific name proposal added)
* a "PyPI" label on the PSF blog (at least for the time being, I'd prefer we use PyPI announcements to provide a signal boost for the existing PSF blog, rather than creating a separate one, and Blogger's post labels provide a na

[2017-11-30 06:01] dstufft commented on #1
I think ``packaging-announce`` or something is better, while primarily used for PyPI I can see cases where we might want to raise wider awareness on non PyPI things.

[2017-11-30 11:55] ncoghlan commented on #1
I'd be OK with packaging-announce, but my rationale for pypi-announce specifically is that service changes are the ones that are truly unavoidable - folks publishing through PyPI or querying PyPI for packages or metadata can't decide to pin themselves to an older version.

By contrast, changes to client side tooling (whether for publishers or consumers) are always going to be a more opt-in affair

[2017-11-30 18:24] dstufft commented on #1
At the end of the day naming is just painting the bikeshed so it doesn't really matter, I just thought ``packaging-announce`` might give us more room to use it for other things (not that the name really stops us!) if needed instead of ending up in a distutils-sig situation.

[2017-12-01 04:48] ncoghlan commented on #1
I think in this case, it's probably better to optimise for "I want announcements about PyPI -> I should follow pypi-announce".

Then the filter we'd apply to announcements in that channel would be "Is the announcement especially relevant to users of PyPI?".

For a new CPython release for example, what we'd announce is things like the Trove classifier being added, rather than necessarily announcing

[2017-12-02 13:05] ncoghlan commented on #1
Thanks to @jonparrott, we have a news page in PyPUG now, back filled with notable PyPUG updates for the past several months: https://github.com/pypa/python-packaging-user-guide/pull/404

So what we'd be looking for from *this* issue is guidance on what other items we considered worth noting in that list (e.g. I think releases for tools mentioned on https://packaging.python.org/guides/tool-recommen

[2017-12-12 09:06] vstinner commented on #4
I'm still getting this error :-(

[2017-12-12 09:07] vstinner commented on #5
The AAAA record of the bugs.python.org domain has been removed, I close the issue.

[2017-12-12 09:07] #5 closed

[2017-12-12 09:08] vstinner commented on #6
The AAAA record of the bugs.python.org domain has been removed, I close the issue.

[2017-12-12 09:08] #6 closed

[2017-12-12 10:39] ewdurbin commented on #3
blog.python.org is hosted on Blogger/blogspot. TLS for custom domains is a not a feature they offer at this time.

We have the option of fronting this domain with Fastly, but I'm not sure what the implications are there for any traffic/view metrics.

@benjaminp @ned-deily it looks like the release manager role is the most common role posting on this site, are any of the traffic metrics in blogger/

[2017-12-12 10:44] ewdurbin commented on #4
I've got no idea what's going on here. @MarkMangoba can you help us understand what the timeline looks like for the hosting migration for b.p.o? If it's nearing completion... we may be able to ride it out.

FWIW the reproduction case (`openssl -s_client` running in a loop) hasn't failed yet for me over the course of a about 10 minutes 😕

Alternatively we could ask the hosting company currently sup

[2017-12-12 11:06] vstinner commented on #3
Would it be possible to only serve the blog on HTTP if HTTPS is not doable?

[2017-12-12 14:00] JulienPalard commented on #4
I'm using `OpenSSL 1.1.0f  25 May 2017` on a Debian 9.1, tried the loop a long time and I can't reproduce the issue on my side.

[2017-12-13 07:37] benjaminp commented on #3
I sent you the invitation, ewdurbin.

I don't think simply redirecting `blog.python.org` to a HTTPS site is too criminal.

[2017-12-13 14:53] ewdurbin commented on #3
thanks for the invite @benjaminp, but unfortunately it doesn't looks like have access to the settings necessary. TLS/HTTPS and redirect settings are normally in this tab, but all I see is
<img width="555" alt="screen shot 2017-12-13 at 9 53 35 am" src="https://user-images.githubusercontent.com/1200832/33944916-88c51d94-dfeb-11e7-8077-7de66f4107a1.png">

[2017-12-14 07:05] benjaminp commented on #3
Yeah, unfortunately, you can't change the user role until they've
accepted the invitation.

On Wed, Dec 13, 2017, at 06:54, Ernest W. Durbin III wrote:

[2017-12-15 00:21] ewdurbin commented on #3
Thanks! I’m gonna attempt the swap to TLS via Fastly over the weekend.

[2017-12-19 23:21] njsmith commented on #1
As an example of a potential not-strictly-pypi-related announcement, I could imagine that after PEP 517 is deployed it'd make sense to put together a nice end-user oriented post about what this means (we now support non-distutils-based build systems!), limitations (watch out for old pips), where to go next (here are some alternative build systems, tips if you want to make your own). Obviously we d

[2017-12-20 06:43] ewdurbin commented on #3
Initial work is done... still kinda goofy since we can't get blogger to simultaneously accept the `blog.python.org` hostname _and_ accept TLS connections of any kind :/

So this means links and such are now pointing to `pythoninsider.blogspot.com`... but at least they're HTTPS.

[2017-12-20 07:10] ewdurbin commented on #3
TLS, Redirects, Links, Feed URLs, etc are all now fixed up with a little template editing and JS. marking as closed.

[2017-12-20 07:10] #3 closed

[2017-12-20 07:13] ewdurbin commented on #3
Reference material used:
  - https://www.bloggerguider.com/2016/08/https-ssl-for-blogger-custom-domains.html
  - https://www.electronicsdiary.com/2017/10/https-for-blogger-custom-domain.html

[2018-01-24 03:16] brainwane commented on #1
As the project manager for the Warehouse rollout, I'm going to go ahead and request a `pypi-announce@python` mailing list from `infrastructure-staff@python` now, and we can continue on the other requested items in this issue in parallel.

[2018-01-26 05:15] MarkMangoba commented on #1
@brainwane I have created pypi-announce@python.org and packaging-wg members are admins.  https://mail.python.org/mm3/mailman3/lists/pypi-announce.python.org/.

[2018-02-19 23:09] Darkspirit opened #7 "Bad TLS config"
https://www.hardenize.com/report/bugs.python.org/1519081490#www_tls
https://www.hardenize.com/report/bugs.python.org/1519081490#email_tls
https://observatory.mozilla.org/analyze.html?host=bugs.python.org

(good: https://www.hardenize.com/report/python.org)

[2018-02-20 00:18] ewdurbin commented on #7
@Darkspirit we're in the process of migrating bugs.python.org to new infrastructure that can support modern TLS settings. In the meantime, I'll leave this issue open to track and update when complete.

[2018-02-27 19:29] brainwane opened #8 "take care of bootstrap.pypa.io"
https://bootstrap.pypa.io/

The infra team maintains this https://github.com/python/psf-salt/tree/cf8cde732f0e0e6cc41ecd6c06c93887055e2a70/salt/pypa/bootstrap and it's used by https://github.com/pypa/get-pip . it has been experiencing some downtime.

Also Ernest said he'd like to improve it with, for instance, checksumming.

[2018-03-01 17:12] Rotonen commented on #8
Also by buildout bootstrap.py:

https://github.com/buildout/buildout/blob/d6dcdd8f308ebdbe6c4b526d439c9adb632427bd/bootstrap/bootstrap.py#L92

[2018-03-05 22:13] brainwane commented on #1
I see we now have [a "PyPI" label on the PSF blog](https://pyfound.blogspot.com/search/label/pypi); thank you!

I'd love for us to move forward on an automatically generated history of past announcements in Warehouse; for right now I'm ok with adding a link in the FAQ to the PyPI-labelled blog posts, and have filed pypa/warehouse#3139.

Could we also talk about the other suggestions Nick mentioned

[2018-03-16 12:53] brainwane opened #9 "request: a /topic in #infrastructure on Slack"
I'd like a `/topic` in the #infrastructure channel on PSF's Slack indicating stuff like where to report PSF infra problems (in channel? a bug tracker?), and how to @-mention people who are joined via app. This, plus maybe a pinned message if there's any more distinctions to be made about what to report or monitor where, would help me & others understand where to report what kinds of bugs (what's i

[2018-03-23 12:49] JulienPalard opened #10 "Missing TLS certificate on legacy.python.org"
It's legacy... I dunno if worth it, but still spotted there's no TLS certificate on it.

[2018-03-25 01:53] methane commented on #2
Ping.

[2018-03-25 02:24] ewdurbin commented on #2
done! let's see how it goes :)

[2018-03-25 02:28] #2 closed

[2018-03-25 02:30] methane commented on #2
Thanks!
I confirmed that https://docs.python.org/3/tutorial/index.html is reduced from 26858 bytes to 5851 bytes.

[2018-03-25 02:43] ewdurbin commented on #10
resolved.

[2018-03-25 02:43] #10 closed

[2018-03-26 02:48] ned-deily commented on #4
There have been recent repeated TLS failures on bugs.python.org and ones that were having a serious negative impact today on python-dev workflow: causing failures in our Github webhooks for the python/cpython repo to update bugs.python.org.  For more details, see the "Intermittent SSL signature issues" issue opened on the b.p.o metatracker here:  http://psf.upfronthosting.co.za/roundup/meta/issue6

[2018-03-26 03:18] MarkMangoba commented on #4
I’m going to take a look what we can do.  @soltysh has been working on the new bugs infra, and we recently just got over a blocker.  Will post an update on the new infra this week.

[2018-03-31 11:51] brainwane commented on #1
Per conversation with @pfmoore just now [in IRC](http://kafka.dcpython.org/day/pypa-dev/2018-03-31):

[The pypi-announce list](https://mail.python.org/mm3/mailman3/lists/pypi-announce.python.org/) is for major PyPI announcements. I made a promise in the listinfo for pypi-announce that it would just be for PyPI news (like the Warehouse beta -- and once we implement PEP 541, I think it would make se

[2018-03-31 22:24] njsmith commented on #1
Having two different lists to announce major packaging ecosystem changes seems like maybe one too many? I wouldn't use the list to announce very pip release, but in this case the beginning of PEP 518 support, change in `-U`, and the `pip._internals` changes all seem worth a bigger announcement.

[2018-04-04 19:56] MarkMangoba commented on #4
I've put the current bugs instance behind Fastly via:  https://www.bugs.python.org (https://bugs.python.org is not behind Fastly at the moment).

- I worked with Fastly not to cache bugs.python.org.  This is done via the headers.
- Allowing only TLS connections via the request settings.

[2018-04-05 22:10] brainwane opened #11 "Add Test PyPI to status page"
https://status.python.org/ doesn't mention test.pypi.org. It mentions python.org site subdomains but pypi.org might be an exception; I'd suggest we either add it as a separate explicit line item or we add info to the tooltip about pypi.org.

[2018-04-14 16:13] remram44 commented on #1
I think you should consider sending at least the major announcements to the general python-announce list. Some of us were not aware of the need to subscribe to the dist and packaging mailing-lists specifically to be kept posted about major changes.

[2018-04-16 00:55] brainwane commented on #11
How much work would this entail?

[2018-04-17 02:01] njsmith commented on #1
Now that the new site's live, maybe we should advertise the new announce list, e.g. on a banner, when everyone's looking at the new pretty and the outage is fresh in their minds?

Right now I literally can't seem to find the list in google (searching for "pypi-announce" doesn't find it), and the only reference to it on pypi.org seems to be buried at the end of this page: https://pypi.org/help/#upc

[2018-04-22 00:13] brainwane commented on #8
In my opinion it would be nice for boostrap.pypa.io to be listed at https://status.python.org/ -- figured I'd say that explicitly here in case it wasn't already on the TODO list.

[2018-05-02 19:34] brainwane opened #12 "Refresh & add to https://psf-salt.readthedocs.io docs"
I'm not quite sure how up-to-date https://psf-salt.readthedocs.io is -- if it's up-to-date then I can make sure to point folks to it when they're trying to figure out what services & applications PSF runs and how to contact each owner.

I'd also like, when possible, instructions for making urgent versus non-urgent contacts about particular sites. I came across https://wiki.numfocus.org/Collaborati

[2018-05-22 12:55] ThomasAH commented on #4
This looks a bit like something we encountered on Apache servers on various versions of Debian serving other WSGI applications.
On those servers WSGIDaemonProcess/WSGIProcessGroup wasn't used, so the WSGI applications were running as www-data instead of a separate user.
After adding this the TLS errors vanished completely, before that they reoccurred sometimes once per week and persisted for some

[2018-07-05 17:02] vstinner commented on #4
Same issue reported at https://github.com/python/bugs.python.org/issues/15

[2018-08-13 06:49] CAM-Gerlach opened #13 "bugs.python.org still stuck on deprecated and insecure TLS 1.0 resulting in SSL_ERROR_UNSUPPORTED_VERSION on clients with POODLE mitigations"
On the same general topic and scope as #4 (TLS problems with bugs.python.org) but not the same issue, so reported here.

To help mitigate POODLE and similar attacks, I've had TLS 1,0 disabled in my browser for a long time now. To my shock, despite not having a problem with such on virtually every other site of significance, I received a ``SSL_ERROR_UNSUPPORTED_VERSION`` error when attempting to lo

[2018-08-13 06:57] CAM-Gerlach commented on #13
Also, I neglected to point out the obvious, but many security-conscious users might have set ``security.tls_version.min`` to ``3`` in Firefox like I did (as many resources have recommended for some time now), rendering the site completely unavailable to such users without downgrading their security. Further, this will eventually become the default, thus breaking the site entirely for anyone using

[2018-08-13 07:28] CAM-Gerlach commented on #13
@pradyunsg Indeed, this works—thanks! Is there a cogent plan to eventually redirect (or deprecate) the legacy URL, like with the PyPI Warehouse migration?

[2018-08-13 14:03] ewdurbin commented on #13
This will be resolved shortly as we complete the migration to new hosting infra.

[2018-08-13 19:05] CAM-Gerlach commented on #13
@ewdurbin Great, thanks!

[2018-09-28 12:45] vstinner commented on #4
[code]

Hum, I'm unable to reproduce this issue. Maybe the bug has been fixed in the meanwhile.

[2018-09-29 12:06] Darkspirit commented on #13
https://www.ssllabs.com/ssltest/analyze.html?d=bugs.python.org
https://www.hardenize.com/report/bugs.python.org/1538222484#www_tls

[2018-12-12 13:52] vstinner commented on #4
SSL Labs gives an overall rating of C:
* "No support for TLS 1.2, which is the only secure protocol version."
* This server supports weak Diffie-Hellman (DH) key exchange parameters. Grade capped to B.
* The server supports only older protocols, but not the current best TLS 1.2. Grade capped to C.
* This server does not support Forward Secrecy with the reference browsers. Grade capped to B.
* This

[2018-12-12 13:53] vstinner commented on #4
I came into this issue again because I have a script which uses XML-RPC to connect to bugs.python.org, but the TLS connection fails:

[code]

Output:

[code]

[2018-12-12 13:54] vstinner commented on #4
See also https://github.com/python/psf-infra-meta/issues/13

[2018-12-12 14:01] vstinner commented on #4
Aha, "www.bugs.python.org" ("www." prefix) works (openssl s_client says "New, TLSv1.2, Cipher is ECDHE-RSA-AES128-GCM-SHA256"), bug "bugs.python.org" fails (handshake fails).

[2018-12-12 14:03] tomato42 commented on #4
[code]
such errors may indicate that the key got compromised: https://lukenotricks.blogspot.com/2010/03/recovering-rsa-private-keys-using.html or https://www.cryptologie.net/article/371/fault-attacks-on-rsas-signatures/

I would strongly suggest regenerating it after the underlying issue was fixed

[2018-12-12 14:12] vstinner commented on #4
I tuned SSLContext to try to understand why the TLS handshake fails with Fedora system Python3 (/usr/bin/python3) but completes with Python 3.7 compiled manually. Fedora uses ``./configure --with-ssl-default-suites=openssl`` so ssl.SSLContext uses OpenSSL default cipher list (Python doesn't call ``SSL_CTX_set_cipher_list()``). It works on my manually compiled Python because in this Python, ssl.SSL

[2018-12-12 14:16] vstinner commented on #4
Fedora 29 uses stricter security:
https://fedoraproject.org/wiki/Changes/StrongCryptoSettings2

I tried to find the minimum cipher list which works:

[code]

But adding ``-SHA1`` makes the TLS connection (handshake) fail:

[code]

[2018-12-18 13:12] vstinner opened #14 "hg.python.org cannot be accessed anymore"
The website uses HTTP Strict Transport Security (HSTS):

$ curl -v -HEAD -k https://hg.python.org/cpython/rev/1250498db562
...
< Strict-Transport-Security: max-age=315360000; includeSubDomains; preload
...

but it uses a x509 certificate for pypa.io: Firefox disallow me to access the website anymore.

[2018-12-18 13:13] vstinner commented on #14
Cert seen by OpenSSL: " 0 s:CN = pypa.io"

[code]

[2018-12-18 13:14] ewdurbin commented on #14
Mixed up a certificate renewal for hg.python.org and symlinked the wrong cert, apologies! This is resolved.

[2018-12-18 13:14] #14 closed

[2018-12-18 13:44] vstinner commented on #14
Thanks for the quick fix!

--
Night gathers, and now my watch begins. It shall not end until my death.

[2018-12-21 15:03] ewdurbin commented on #7
TLS config is vastly improved with new infra, closing :)

[2018-12-21 15:03] #7 closed

[2018-12-21 15:06] ezio-melotti opened #15 "Restore b.p.o mail address in tracker emails"
Before emails sent from the tracker whenever someone created or edited an issue came from <report@bugs.python.org>, whereas now the sender (and the reply-to) is <cpython@roundup.psfhosted.org>.
This breaks email filters.

[2018-12-21 15:16] vstinner commented on #4
Great! Thank you very much! I will keep you in touch next month if something goes wrong.

[2018-12-21 23:36] ewdurbin commented on #15
Resolving this is in progress! Thanks for noting. I'll update as it "develops"

[2018-12-22 12:57] ewdurbin commented on #15
I believe this is resolved, and the mail gateway is working properly now :)

[2018-12-22 12:57] #15 closed

[2018-12-27 10:05] pitrou opened #16 "b.p.o emails classified as spam"
Recently many bpo notification emails started being classified as spam in my inbox. I'm not sure what could be the cause, but it seems like it could be correlated to the recent migration (some SPF setting perhaps?).

Here are the headers of one such email, as received:
[code]

[2019-01-04 19:46] pitrou commented on #16
This still happens on a regular basis here. The headers typically contain the following line:
[code]

[2019-01-05 21:09] jteranp opened #17 "Error in divide"
The following code produces an error in the diivision in python 3.5, 3.7 works in python 2.7

import math
import sys

x=int(1000112004278059472142857)
y1=int(1000003)
y2=int(1000033)
y3=int(1000037)
y4=int(1000039)
print (int(y1*y2*y3*y4))
print (x)
#this product equals x Correct
print (int(y2*y3*y4))
n=int(x / y1)
print (n)
#n is an incorrect answer
#works in pythoin 2.7
#Gives an incorrect answe

[2019-01-29 00:24] mroutis opened #18 "registration: Invalid URL Scheme"
I'm trying to create an account on: https://bugs.python.org/user?@template=register

To complete the registration, I access the URL on the confirmation email: https://bugs.python.org/?@action=confrego&otk=xxx

:warning: _I've replaced the `otk` value with `xxx` (I'm assuming this is something private)_

And the following message appears:
![2019-01-28-18 20 18](https://user-images.githubusercontent

[2019-01-31 14:50] jeeger commented on #18
Same problem here.

[2019-01-31 16:02] ewdurbin commented on #18
Thanks for your report, I'm unable to reproduce, but am getting a different error stating an invalid OTK.

I'll dig in later today, sorry for delay.

[2019-02-06 15:26] jaraco opened #19 "Rename jason.coombs back to jaraco"
When I became a core contributor, I was forced to change my bugs.python.org username to `jason.coombs`, despite the fact that name is more ambiguous and less direct than my primary online moniker, `jaraco`. At the time, the policy was that all new core developers would get a standard `first.last` username without exception.

Since then, we've moved to GitHub, where my username is `jaraco`, so now

[2019-02-06 16:23] ewdurbin commented on #19
Done.

[2019-02-06 16:23] #19 closed

[2019-02-16 00:45] ethanhs opened #20 ""There is already an account for ethan@ethanhs.me" when trying to sign in"
Hi, I have my bpo account linked to my Google account. When I try to sign in I get the warning "There is already an account for ethan@ethanhs.me", which is keeping me from signing into bpo. Any help with this would be appreciated.

[2019-02-21 16:37] pitrou opened #21 "mail.python.org SMTP down"
It seems that mail.python.org currently doesn't accept any incoming connection on ports 25 and 587.  It's still pingable though. I've tried from three different hosts on different networks.

[code]

@ewdurbin

[2019-02-21 16:37] ewdurbin commented on #21
It is: https://status.python.org

[2019-02-21 16:38] pitrou commented on #21
Ah, sorry, I had forgotten about the status page.

[2019-02-21 17:25] #21 closed

[2019-02-23 21:18] yash1th commented on #18
Also facing the same problem, the registration is not getting completed because of this issue

<img width="1439" alt="image" src="https://user-images.githubusercontent.com/6474295/53291771-7414e480-376d-11e9-95e9-0589a224803f.png">

Any update on this issue?

[2019-03-05 01:00] mroutis commented on #18
It was the information I was adding on the homepage: `mroutis.com` instead of `https://mroutis.com`, never thought that `homepage` was the homepage field :sweat_smile: !

[2019-03-05 01:00] #18 closed

[2019-03-06 11:17] jeeger commented on #18
Thanks, this fixed it. Maybe add validation to the registration field?

[2019-03-24 02:34] rouilj opened #22 "Are the contents of the old http://psf.upfronthosting.co.za/roundup/meta tracker available?"
Hi all:

There are some links on the roundup tracker to patches on the old psf meta tracker.
Is there any way to get the data those links point to?

Thanks

-- rouilj

[2019-04-08 15:50] ddevault opened #23 "Unable to complete registration"
After clicking the registration confirmation link I received by email, I'm greeted with this page:

https://sr.ht/8GUk.png

My account is ddevault and my email address is sir@cmpwn.com.

[2019-04-11 07:08] jcrben commented on #23
I had the same issue. It was due to me putting this in the homepage url field:
bencreasy.com

when it wanted me to put:
http://bencreasy.com

I redid the registration and it worked.

[2019-04-11 07:11] jcrben commented on #22
Related dead link issue: if I click https://wiki.python.org/moin/TrackerDevelopment I see a link http://psf.upfronthosting.co.za/roundup/meta/ and it is broken.

However, I can pull it up (at least partially) on the Internet Archive: https://web.archive.org/web/20180101102639/http://psf.upfronthosting.co.za/roundup/meta/

[2019-05-16 12:28] aprilahijriyan opened #24 "Dictionary: value does not expire"
I try like this:

In [1]: d = {}
In [2]: d["a"] = 1

In [3]: d["b"] = 2

In [4]: d["c"] = d

In [5]: d
Out[5]: {'a': 1, 'b': 2, 'c': {...}}

In [6]: d["c"]
Out[6]: {'a': 1, 'b': 2, 'c': {...}}

In [7]: d["c"]["c"]
Out[7]: {'a': 1, 'b': 2, 'c': {...}}

In [8]: d["c"]["c"]["c"]
Out[8]: {'a': 1, 'b': 2, 'c': {...}}

But why doesn't the key value run out? while the value of the key 'c' does not have a

[2019-05-21 08:38] #24 closed

[2019-05-23 14:30] omurkaya opened #25 "when i install package with pip ValueError"
OS : Windows 10
Python : 3.7.3
pip 19.0.3

when i try to install package its give me error

`C:\Users\KAYA>pip install requests
Collecting requests
Exception:
Traceback (most recent call last):
  File "c:\users\kaya\appdata\local\programs\python\python37-32\lib\site-packages\pip\_internal\cli\base_command.py", line 179, in main
    status = self.run(options, args)
  File "c:\users\kaya\appdata\loc

[2019-05-24 22:12] carljm opened #26 ""Provider could not be found" when logging in with Google OpenID"
In the past I've logged into the tracker using Google OpenID, but when I try to do so today I get a red-bar error "Provider could not be found" and I am not logged in. So I'm currently not able to log in to the tracker.

I'd be happy to transition from OpenID to a regular username/password login instead of OpenID, but it seems I might need some help to do that while keeping my "carljm" username.

[2019-05-25 17:17] twisteroidambassador commented on #26
Same here, trying to log in with Google results in a red banner saying "Provider could not be found".

[2019-05-26 17:50] shihai1991 commented on #18
I meet this probleam too.
![image](https://user-images.githubusercontent.com/9103416/58385356-c3dfa200-8021-11e9-84e6-63e5d718683d.png)

[2019-05-28 04:10] lilydjwg commented on #26
Same here too. I requested a password reset and it worked.

[2019-05-28 06:02] carljm commented on #26
Password reset worked for me also to convert to username/password login, thanks for the suggestion to try that!

[2019-06-05 01:35] YoSTEALTH opened #27 "Not receiving second email for password reset"
I used https://bugs.python.org/user?@template=forgotten to rest my password. I get the first email saying ... "You should then receive another email with the new password." never receive this second email, tried it many times for weeks...

[2019-06-11 02:07] willie-lopez opened #28 "Python fails to compile due to modules not found (binascii, dateutil, pip, ...)"
Hopefully this is the appropriate place to ask for help about this problem with building Python. I have already looked through numerous discussions about this and cannot find a solid answer to resolving it. Any help is appreciated!

When installing Python-2.7.16 on CentOS 6 and 7, I get a failure during the build for missing modules/packages. Other discussions advise to install pip. PIP, even with

[2019-06-28 18:49] exploiterv opened #29 "Python returns NoneType when we convert a string to a list and wants to using sort() method"
Python Returns NoneType when convert a string to a list and wants to using sort() method

Example Code :

['python']

<class 'list'>

<class 'NoneType'>

['python']

<class 'NoneType'>

[2019-06-28 18:54] #29 closed

[2019-07-09 21:36] Lifechess opened #30 "python 3.7.4 virtualenv 16.6.1 in windows 10 bug when do : (( virtualenv . )) in PowerShell"
python 3.7.4 virtualenv 16.6.1 in windows 10  bug when do : (( virtualenv . )) in PowerShell

[2019-07-11 15:38] brainwane commented on #11
Bumping this since we're currently doing work on PyPI where this would be handy.

[2019-07-11 15:39] brainwane opened #31 "MoinMoin version?"
Where/how do I check whether https://wiki.python.org/ and https://wiki.python.org/psf/ are running [the latest version](https://moinmo.in/MoinMoinDownload) of MoinMoin (1.9.10)?

[2019-07-15 08:57] Divyansh-programmer opened #32 "IDLE not starting"
Idle is not starting(python 3.7), though python is starting in cmd on Windows 8.1 pro
I also typed import idlelib.idle, Then also its not opening
Please help me

[2019-07-16 14:01] michaelion commented on #32
Had same problem with launching IDLE in Windows 10 after downloading Python 3.7.4 yesterday.
When I run python -m idlelib

File "C:\Users\Michaelion|AppData\Local\Programs\Python|Python37-32\lib\tkinter\_init_.py", line 2023, in _init_tkinter.TclError: Can't find usuable init.tcl in the following directories: ....

This probably means that Tcl wasn't installed properly.

Downloaded multiple times,

[2019-07-16 16:03] Divyansh-programmer commented on #32
Thanks , but now it is solved

[2019-07-16 16:46] michaelion commented on #32
Great to hear that you got it to work, I was able to get mine to work as well.  I copied & pasted both the init.tcl & tk.tcl then placed them in the Lib folder as their was already a path to look for it in that folder.  This solved the problem I had with IDLE not opening.

[2019-07-17 05:55] xcre opened #33 "IDLE run such a script with no reply"
#the script below
import multiprocessing as mp
from time import sleep
def ab(x):
    while True:
        sleep(1)
        print(x)
if __name__ == '__main__':
    f1 = mp.Process(target = ab, args=('a'))
    f2 = mp.Process(target = ab, args=('b'))
    f1.start()
    f2.start()
    f1.join()
    f2.join()

[2019-07-19 12:23] kkaracam opened #34 "No such otk error"
After registering to Python Tracker, I received a confirmation mail with a link. Clicking the link resulted in an error displayed in the attached imaged:

<img width="1680" alt="Screen Shot 2019-07-19 at 15 16 53" src="https://user-images.githubusercontent.com/35402306/61534520-818e7c00-aa38-11e9-9512-56434a94f3f7.png">

In a [similar issue](https://github.com/python/psf-infra-meta/issues/18) @ewd

[2019-07-28 22:01] brainwane opened #35 "PyPA cert has expired"
See https://github.com/pypa/pypa.io/issues/43 . Please renew.

[2019-07-29 02:14] pradyunsg commented on #35
I believe this was fixed: https://github.com/pypa/packaging.python.org/pull/626#issuecomment-511837571

[2019-08-02 18:30] #35 closed

[2019-08-18 15:38] mwichmann opened #36 "b.p.o. account removal option?"
Over at webmaster@python.org we occasionally get requests to "please remove my account from bugs.python.org".  Just had a look, and the account section of the tracker doesn't seem to have an obvious way for a user to do this themselves (and we have no rights to perform such removals).  So recording this here as a flag to consider.

Removing an account from a bug tracker is problematic - I am aware

[2019-08-22 19:39] MalikRumi opened #37 "Can't log in to bug tracker"
I doubt that this is the right channel for this issue, but I don't see any other way to get someone's attention. When I tried logging in to the bug tracker, I was told that my email address already had an account. True. But apparently the password being saved for me in the browser was wrong? Had been changed? I don't know. I requested a new password, got it, and.... I was told my login was invalid

[2019-08-27 00:18] brainwane opened #38 "move caniusepython3.com into PSF hosting"
Per https://github.com/caniusepython3/caniusepython3.com/issues/66 .

[2019-09-03 15:23] ewdurbin commented on #37
Hello @MalikRumi! Please email ernest@python.org with the email address associated with this issue/account. I'm happy to take a closer look for you.

[2019-09-03 16:00] MalikRumi commented on #37
Ok.

On Tue, Sep 3, 2019, 10:23 Ernest W. Durbin III <notifications@github.com>
wrote:

[2019-09-04 23:08] disconnect3d opened #39 "How to filter the Python bugtracker?"
Hey,

Sorry if that is documented somewhere but is there any option to filter the search in Python bugtracker?

For example I would like to be able to find all open security or performance issues.

I know that many issues are missing e.g. type labels or that it is possible to group or sort issues but that's a bit different as one have to play with URI query parameters to find proper page to start

[2019-09-06 11:17] martinfalk opened #40 "python.org unreachable via TCP/IP v6"
When trying to access either python.org or running pip, the connection is closed unexpectedly.

Opera v63.0.3368.35, 64bit on Windows 10 reports:
[code]

Same with Firefox and Chrome . Microsoft Edge reports

Similarly, when running python's pip, e.g. `pip install flickr_api`, the connection is also reset:
[code]
This was confirmed with several other machines running Windows 10.

When I temporaril

[2019-09-09 17:04] brainwane commented on #40
Hi. Can you still reproduce this problem?

[2019-09-10 07:31] martinfalk commented on #40
Hi, the issue appears to be fixed. Both python.org and pip are working fine with IP v6 enabled. This was tested on multiple machines.
Thanks!

[2019-09-11 23:51] rouilj commented on #39
1. Choose Issue Search from the left hand menu
2. In the form choose "security" (o performance) from the type drop down menu and  choose status: open or status: not closed
3. Click the search button at the bottom of the form

[2019-09-12 00:20] rouilj commented on #36
Actually deleting the user would leave the database in an inconsistent state as the reference to the
user is located in links, history etc.
However the permissions in the schema can be modified to reject access if the user object is retired. I think this will do what you want. Note that the user could still be seen by users with the Admin role.  This is probably the best way to "forget" if it work

[2019-09-12 00:23] rouilj commented on #22
I should have mentioned this but the info I wanted to get isn't on the archive.

[2019-09-15 08:27] disconnect3d commented on #39
Thanks! No idea how I missed that :P.

[2019-09-15 08:27] #39 closed

[2019-09-30 02:33] mjeveritt opened #41 "Attempting to upload file without read permission causes timeout"
Just tried to upload a build log without read permission (oops!) to the bug tracker, but it causes the page to timeout without any form of error.
Fortunately I thought to check file permissions on the guilty item, but perhaps it would be useful to have some kind of warning if this happens to be the case in future!! (this is *nix after all!).

[2019-10-03 16:20] AWhetter opened #42 "Not receiving registration email from bugs.python.org"
I'm trying to register for bugs.python.org but I never receive the registration email. To find the account, it should be linked to this github account.

[2019-10-03 18:52] AWhetter commented on #42
I ended up using a differnt email and switching it after registering.

[2019-10-03 18:52] #42 closed

[2019-10-14 21:29] kemin711 opened #43 "make install failed on centos for 3.7.4"
I could make install on ubuntu machine, but the same operation failed on centos.  This could be due to my using a gcc7.4 that is installed some where else other than the /usr/local/ or usr locations.

My error message (end part after executing make install):
         Finished prerequisites of target file `sharedmods'.
        Must remake target `sharedmods'.
Invoking recipe from Makefile:628 to up

[2019-10-15 05:29] honglou2001 opened #44 "Segmentation fault: 11 - Python 3.6 on Macbook"
Process:               Python [5343]
Path:                  /Library/Frameworks/Python.framework/Versions/3.6/Resources/Python.app/Contents/MacOS/Python
Identifier:            Python
Version:               3.6.5 (3.6.5)
Code Type:             X86-64 (Native)
Parent Process:        bash [3524]
Responsible:           Python [5343]
User ID:               501

Date/Time:             2019-10-15 13:26:4

[2019-10-18 16:41] asvetlov opened #45 "bugs.python.org is blocked in Russian Federation"
Russian court issued a letter that bans `188.166.0.0/17` IP range to prevent access to some site.
The site is not related to Python at all.

Unfortunately, bugs.python.org is blocked too, it is resolved as `188.166.48.69`.
Could we change the public IP address of the host to unblock Russian people?

This is a link to the court judgment for the reference: https://mos-gorsud.ru/rs/taganskij/services

[2019-10-18 17:04] shagren commented on #45
Yes, it's true. `bugs.python.org` is not accessible from Russia. I have tried few different providers.

[2019-10-18 18:14] ewdurbin commented on #45
Is there any way for us to ensure the new IP address isn't in a similarly banned range?

Updating the IP address for bugs.python.org is unfortunately not a trivial task. :/

[2019-10-18 18:15] ewdurbin commented on #45
It appears this would also affect mail.python.org... can you confirm?

[2019-10-18 18:20] ewdurbin commented on #44
This issue tracker is for problems with services hosted by the PSF. This appears to be a bug report for Python itself, which should be filed at bugs.python.org.

[2019-10-18 18:20] #44 closed

[2019-10-18 18:20] ewdurbin commented on #43
This issue tracker is for problems with services hosted by the PSF. This appears to be a bug report for Python itself, which should be filed at bugs.python.org.

[2019-10-18 18:20] #43 closed

[2019-10-18 18:21] ewdurbin commented on #41
Can you provide steps to reproduce?

[2019-10-18 18:55] mjeveritt commented on #41
From Linux:
- Go to https://bugs.python.org/issueNNNNN
- Process section, File: click 'Browse'
- [pick a file without user-read permission]
- Open/OK dialog
- Hit 'Submit changes'
- Page goes blank
- HTTP Timeout occurs

[2019-10-18 19:39] asvetlov commented on #45
I'm living in Ukraine, here everything works fine.
@shagren can help with the check I guess.
Also, he knows much more about a registry of banned Russian addresses.

[2019-10-19 05:02] grigoryvp commented on #45
Yes, the IP range is blocked in Russia, and unblocking it is a many-months legal process with unclear outcome, so moving to a new IP address sounds like a really good solution to make developers life better! We can use this official service to check if specified IP address is blocked: https://blocklist.rkn.gov.ru

[2019-10-19 08:03] shagren commented on #45
@ewdurbin is also unaccessible for me

[2019-10-19 08:42] kurtgn commented on #45
Maybe just create a mirror for Russia? Something like m.bugs.python.org

That’s what we do when our servers get blocked :)

[2019-10-19 09:17] dmig commented on #45
WTF guys?
It's not bugs.python.org been blocked, it's **you** who've been blocked! So don't ask others to solve your problems!
Either go to the court to argue with this, use VPN or change the country!

Childish...

[2019-10-19 09:30] asvetlov commented on #45
@dmig your proposal is not constructive at all.

[2019-10-19 09:37] dmitry-mukhin commented on #45
he's not wrong though.

[2019-10-19 10:06] asvetlov commented on #45
This issue is not for immigration discussion or VPN usage, ok?
Do you personally get frustrated if bugs.python.org gets working from Russia without extra steps on your side?

[2019-10-20 09:05] ud1 commented on #45
Just use Tor browser. I use it at work every day (for example to download Intellij Idea or Soap UI).

[2019-10-21 11:11] vir-mir commented on #45
By the way, I filed an application in RK, with a request to remove the lock. to which I received an answer.  it says here that this subnet was blocked due to the fact that there are telegram IP addresses.
They also hinted that we need to transfer bugs.python.org since they won’t remove the lock.

here is the official reply received by mail https://i.ibb.co/DwsHGZy/tg.jpg

[2019-10-21 12:37] vnetserg commented on #45
I don't see this hint there. They just say that they won't unblock the address unless the provider (Digital Ocean?) prevents Telegram from operating on their IP addresses.

[2019-11-20 00:12] AlexandroGonSan opened #46 "Solucionar Problema Da Descontinuação De Funcionalidades"
* Sob revisão e investigação .

Ao abrir a linha de comando do python através do Prompt De Comando não é mais possível fechar / sair com o comando `exit()` .

# Recomendations
ReImplementar para que o exit() funcione .

Python : 3.8.0rc1x64
OS : Windows

[2019-11-20 00:41] AlexandroGonSan commented on #46
Você estava a usar uma versão .zip do Python sem precompilar as bibliotecas .

[2019-11-20 00:41] #46 closed

[2019-11-22 16:22] ketzu opened #47 "Email Validation Link for Tracker Registration Creates Invalid URL scheme in homepage URL"
After registering for the bug tracker to file a bug report, and clicking on the link I get a red bar:
Invalid URL scheme in homepage URL

[2019-11-25 12:25] webartifex commented on #47
I must confirm this. It's independent of the browser as well.

[2019-11-26 08:56] PCManticore opened #48 "Cannot close an issue as duplicate?"
Hey folks!

For context, I am on the triage team in the bug tracker, but haven't used my account for some years now. This morning I tried closing an issue as duplicate but got back a 500 multiple times in a row. I don't think I did anything out of the ordinary, other than setting the `Superseder` field and the reason for closing the issue.

The issue is https://bugs.python.org/issue38573 and I sho

[2019-11-30 08:28] GolfLord opened #49 "IDLE not opening multiple .py files"
I'm running Python 3.8  and Mac Os Catalina 10.15.1 When I click a .py file, it will open the shell + editor, However if I try to open a new .py file from my finder window it won't open. The only way I can open another file is through the shell by clicking file - open. I downloaded a folder with containing .py files from the web and I have no issue opening those files from my finder window. It app

[2019-12-04 19:32] Shtarkbochur opened #50 "filedialog.askopenfilename() causes python 3.8.8 to freeze"
I am using Tkinter in my program, and at a point I use a button to open a file by running a function with the following code:
`def UploadAction(event=None):`
`    #allow the user to select a file, then define it as list to prevent issues with file later on`
`    global filename`
`    filename = filedialog.askopenfilename()`
`    filename = [filename]`
`    return filename`
However, when I run this

[2019-12-04 19:37] #50 closed

[2019-12-06 13:28] Domin19901111 opened #51 "ConnectionAbortedError: [WinError 10053] An established connection was aborted by the software in your host machine"
Please refer to closed one:
https://bugs.python.org/issue27682

Used:
- Django 3.0
- Python 3.7.4
- Windows 10.0.17134

[2019-12-09 20:30] elArch opened #52 "SyntaxError: 'break' outside loop for legal Expression"
Why I can't execute this code:
[code]
When I use repl.it or PyCharm on my work all works fine, yes I know this code looks silly, but it is a legal expression.

About CPython Interpreter:
C:\WINDOWS\system32>python
Python 3.8.0 (tags/v3.8.0:fa919fd, Oct 14 2019, 19:37:50) [MSC v.1916 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

[2019-12-21 06:30] maxking opened #53 "Missing in the nosy list despite experts index"
Not sure if this is the right place for this but I have noticed that I am not being nosied on new `email` issues on bpo, even though I am added in the [experts index](https://devguide.python.org/experts/) with my username. For example, one of the new issues: https://bugs.python.org/issue39071, which was opened 3 days ago.

[2020-01-02 12:50] Kaveshnikov commented on #34
I have the same issue

[2020-01-03 14:54] pitrou opened #54 "b.p.o doesn't send e-mail notifications anymore"
It seems that b.p.o hasn't sent me any e-mail notifications in a while. For example I didn't receive a notification about https://bugs.python.org/issue39193#msg359232, even though I'm in the nosy list.

(my username there is pitrou)

[2020-01-08 20:12] brainwane commented on #45
Is this (not being able to access bugs.python.org or mail.python.org) still reproducible for users in the Russian Federation? I presume it is but I figured it's good to re-check, then ask for a decision from the infrastructure team.

[2020-01-09 05:44] grigoryvp commented on #45
Yep, https://isitblockedinrussia.com/?host=bugs.python.org

[2020-01-16 22:57] apparluk opened #55 "registration confirmation e-mails"
[Tracker-discuss] [issue584]

Registration confirmation emails never arrive, tested with multiple email hosts
_______________________________________________________

chesterR Sat, 02 Apr 2016 19:27:07 -0700

New submission from chesterR:

Attempted multiple times to register a new account on the python issue tracker,
no confirmation email showed up in any of the email addresses I used after
about

[2020-01-17 17:55] woodruffw commented on #47
I can also confirm this. I've been unable to register a b.p.o account due to it.

[2020-01-17 18:03] woodruffw commented on #47
Many thanks to @ewdurbin: the workaround for this is to explicitly specify the URL scheme for the homepage you register with (e.g., `https://foo.net` and not just `foo.net`).

[2020-01-17 18:19] ewdurbin commented on #47
Error is coming from [this detector](https://bitbucket.org/python/tracker-cpython/src/1693e3184d065f9b6eb8b5072b5003cbcafba813/detectors/userauditor.py#lines-44:47).

And there is not any form validation on the registration form for this. The root of the issue is that the user object isn't actually created until it is confirmed, at which point this raises... and there's nothing you can do about it

[2020-01-17 18:21] ewdurbin commented on #23
Ref: #47

[2020-01-17 18:21] #23 closed

[2020-01-23 20:17] NishantJoshi00 opened #56 "Exception, while trying to list outdated packages in python 3.7.5"
## Command That caused the Exception
[code]
## Resulting Error Message
[code]
## Probable Solution
Based on what i have learnt the two version classes are not of same origin and thus '>' is not supported.
One thing that could be done is
to replace *line 200* of `/usr/lib/python3/dist-packages/pip/_internal/commands/list.py` with
[code]

[2020-02-01 17:24] vitaly-zdanevich opened #57 "Dark theme"
Please save our eye. And batteries. Do not ignore this property of useragent https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme

[2020-02-03 13:13] Baljak commented on #55
Same here, I'm unable to create an account since I don't receive the confirmation email.

[2020-02-04 05:34] apparluk commented on #55
@Baljak

If you fill in the 'GitHub Name' (a non-highlighted field) do you then receive the confirmation email?

These files had a variable fixed Jan 10, 2019; bug filed Sep 30, 2018.

.azure-pipelines/windows-appx-test.yml
.azure-pipelines/windows-steps.yml
PCbuild\build.bat

[2020-02-04 14:35] Baljak commented on #55
@apparluk No I don't receive it... I always filled the GitHub Name field actually.

[2020-02-05 00:43] apparluk commented on #55
From the bot comment near the top of your other linked to issue, it appears that for a GH user's merge to go through, b.p.o. does a search of GH user names, that doesn't infer that to register for a b.p.o. account the provision of a GH user name is required, _i.e._, the inference is that registration for a b.p.o. account might occur simply for the purpose of submitting a bug report, where the subm

[2020-02-09 22:48] apparluk commented on #55
@Baljak

If you're inclined to try filling in among the non-highlighted fields solely the 'Name' field to see if that results in the the confirmation email being received, let me know in the next week or so.

Otherwise at this point of time my sympathies are to close this issue.

[2020-02-12 01:16] #55 closed

[2020-02-12 10:59] jeppoo1 opened #58 "Can't register new account on https://bugs.python.org/"
Can't register new account on https://bugs.python.org/
I am entering my information and email address but did not receive any confirmation email. Tried multiple times.

[2020-02-19 19:52] anjali411 opened #59 "Incorrect complex number inference"
-0.5j

Expected: 0.5j

there's probably a bug in the way string is being parsed. 1/2j is probably being parsed a s 1 / 2j instead of (1/2) j

Also this doesn't work

  File "<stdin>", line 1
    (1/2)j
         ^
SyntaxError: invalid syntax

[2020-03-08 00:33] rouilj commented on #58
I was able to open a new account today without any issue.
Got the confirmation email within a minute after I registered.

Did you check your spam folder and other places it may have been routed?
If this is not a problem anymore, mention that and I'll close out this issue.

-- rouilj

[2020-03-31 18:24] prasadrajuv opened #60 "Python struck when file random.py"
In educational institution when students do random example program with random.py in gui the software struck to open next time onwords

[2020-04-03 14:31] xfix commented on #58
Happens for me too.

[2020-04-08 05:52] lbw5216 opened #61 "cant open multiple .py files with IDLE"
I do most of my quick editing in IDLE, and it is usually very easy to double-click the icon on my desktop. However, after updating to Catalina, I can no longer open more than one .py file in IDLE at a time. Via double clicking or left click-open with. The only way I can have two files open at the same time is by going into IDLE-file-open. Also, scrolling has become more difficult inside these wind

[2020-04-10 05:04] DmNsk2016 commented on #57
Hello !
Thanks for the article (I found a couple of bugs in the localized version)!
 Best regards.

[2020-04-16 04:58] emilymittleman commented on #61
I'm having this same exact issue with Catalina using python 3.8-- I had previously installed python 2.7 and 3.7 a long time ago to run some programs that had features which were deprecated in 3.8, and since I was having this issue with 3.8, I tried seeing if I would run into the same problem with earlier versions of python. I tried opening files with the earlier versions, and experienced the same

[2020-04-16 19:44] brainwane opened #62 "help remove some spam from a Mailman 3 list?"
Per https://wiki.list.org/DOC/How%20can%20I%20remove%20a%20post%20from%20the%20list%20archive%20or%20remove%20an%20entire%20archive%3F there are a few different ways of removing archived messages from a Mailman list archive. I'd like help removing a few spam-type messages, such as https://mail.python.org/archives/list/distutils-sig@python.org/thread/XTTU2YV5BQT42GUTKTKCZ3KS4XSWEHKV/ , from a list

[2020-04-21 04:53] lavoie005 opened #63 "Problem when use "or" with "in""
We always get true

str = 'abcdefg'
if 'h' or 'p' in str:
    print('true')
else:
    print('false')

[2020-04-24 10:45] AbinashKumarShaw opened #64 "Two smallest ticks of symlog axis do not respond to the usetex=True"
I'm trying to plot data in some files using subplots. I need to use the symlog for the y-axis as well as I'm also using the pyplot.rc('text,'usetex=True) to write everything in mathematics font. However it turned out that the smallest two tick labels on the symlog axes do not change to the math font.

My script is as follows,
#-----------------------------------------------------------------------

[2020-04-30 12:23] adios1k opened #65 "Float subtraction result is wrong in python in python 3.7.7"
(base) kchakrabort-a01:~ kchakraborty$ python
Python 3.7.7 (default, Mar 26 2020, 10:32:53)
[Clang 4.0.1 (tags/RELEASE_401/final)] :: Anaconda, Inc. on darwin
Type "help", "copyright", "credits" or "license" for more information.

0.09999999999999964

Result : was expecting  .1

[2020-05-08 10:15] bora2020 opened #66 "make test only fails on test_imprtlib in python 3.8.2"
~/Python-3.8.2$ `make test TESTOPTS="-v test_imprtlib" `

**THIS IS THE OUTPUT :**

 CC='gcc -pthread' LDSHARED='gcc -pthread -shared    ' OPT='-DNDEBUG -g -fwrapv -O3 -Wall' 	_TCLTK_INCLUDES='' _TCLTK_LIBS='' 	./python -E ./setup.py  build
running build
running build_ext
INFO: Can't locate Tcl/Tk libs and/or headers
INFO: Could not locate ffi libs and/or headers

Python build finished successfull

[2020-05-11 00:40] owebeeone opened #67 "Pydoc does not support https hyperlinks."
Pydoc supports http and ftp to produce hyperlinks. It should also support https.

[2020-05-11 17:44] mdickinson commented on #65
Hi @adios1k. The bug tracker for Python is at https://bugs.python.org; this is the bug tracker for PSF infrastructure.

Having said that, this isn't a Python bug. See https://docs.python.org/3/tutorial/floatingpoint.html for more discussion.

[2020-05-11 17:45] mdickinson commented on #59
This is the wrong place to report suspected Python bugs. https://bugs.python.org is the right place. (But FWIW, this isn't a Python bug.)

[2020-05-14 19:03] archila1 opened #68 "different returns of same code"
Hello everyone. i'm new here, so dunno how to find if this issue is already addressed, so i'll just copy my code here that i made while doing some katas at codewars.com
![bug](https://user-images.githubusercontent.com/61683940/81974870-37196400-9637-11ea-9f09-c4eb5e2b1389.PNG)
`from itertools import permutations
def next_bigger(n):

ans = 0
    N = str(n)
    q = [i for i in str(n)]
    numb = 2

[2020-05-22 17:04] #68 closed

[2020-05-22 17:05] archila1 commented on #68
found what was causing it. it was because of set. sorry for wrong info

[2020-05-22 19:01] pradyunsg commented on #68
Hi! Thanks for filing this but this isn't the right place for this filing such issues.

I think that [python-list](https://mail.python.org/mailman/listinfo/python-list) or [python-tutor](https://mail.python.org/mailman/listinfo/tutor) mailing lists, [#python on Freenode](https://webchat.freenode.net/?channels=%23python) (IRC) or [StackOverflow](https://stackoverflow.com) would be better channels t

[2020-05-23 20:31] #27 closed

[2020-05-29 12:21] rkm opened #69 "Typo in nosy list hover text"
Hi, I noticed a small typo when hovering over the "+" button next to the nosy list for a BPO issue. The text reads "Add me _from_ the nosy list (remember to Submit Changes)" rather than "Add me _to_ the nosy list ...". The text reads correctly in the opposite case.

[2020-06-03 06:47] ENANEUS opened #70 "error in a product"
import math
d=(6635869816740560)*(81)*(16**(-1))
print(int(d))

When making that product in Python it returns a number that is not

[2020-06-12 23:44] maveryKearney opened #71 "Login problem."
I am back after a two year absence, and I can't login to my account. There seem to be two accounts in my name differing only in the capitalization of the first letter.

With one of those accounts, I am able to initiate, and seemingly execute the reset password sequence: 1. I request reset. 2. I receive a new password at my email address, but am still unable to log into bugtracker https://bugs.pyth

[2020-06-16 13:20] mattbaker-digital opened #72 "Tiny cluttered navigation elements"
![image](https://user-images.githubusercontent.com/8330291/84779429-4ac03d80-afdc-11ea-94a6-098fc4e9bce6.png)
![image](https://user-images.githubusercontent.com/8330291/84779489-5e6ba400-afdc-11ea-86ec-0b0475c26d6a.png)

[2020-06-18 22:22] #33 closed

[2020-06-19 08:34] dogonthesun commented on #45
Good news everyone! bugs.python.org is unblocked now in Russian Federation.
Unfortunately, the cause is not related to bugs.python.org directly.
Please, check if your provider allows you to access to bugs.python.org and mail.python.org.

[2020-06-19 09:27] shagren commented on #45
Works for me!

[2020-06-19 13:10] asvetlov commented on #45
Cool!

[2020-06-19 13:10] #45 closed

[2020-07-21 12:21] subramanianramajayam opened #73 "sweetviz analyze works fine in DOS mode but fails in python Idle 3.7.7 with error "sweetviz has no attribute 'analyze'"

[2020-07-23 09:40] E-Paine commented on #49
Hi @GolfLord. "psf-infra-meta" is a meta-tracker meaning it is (mainly) meant for reporting issues with the normal bug tracker found at [bugs.python.org](https://bugs.python.org/). The content of your message is already on the issue tracker ([message 357661](https://bugs.python.org/msg357661)) and this issue is (granted, slowly) making its way through the system so I would appreciate if you could

[2020-07-23 09:51] E-Paine opened #74 "Unable to post to issue 39093"
I am currently experiencing problems posting to [issue 39093](https://bugs.python.org/issue39093). It is not just me experiencing problems with this issue as Richard Sheridan had to [comment on one of his PRs](https://github.com/python/cpython/pull/21299#issuecomment-658977583) so that he could discuss the issue with me. It also appears the bots are having problems because they haven't linked http

[2020-07-23 14:50] E-Paine commented on #73
sweetviz is currently in beta and so it seems more likely that this is a sweetviz problem (which can be reported on the project's [Github page](https://github.com/fbdesignpro/sweetviz/issues)). If they believe this is an IDLE problem, please report it on [bugs.python.org](https://bugs.python.org) as "psf-infra-meta" is a meta-tracker meaning it is (mainly) meant for reporting issues with bugs.pyth

[2020-07-23 15:03] E-Paine commented on #61
Thank you for the report, but this issue has already been reported in [issue 49](https://github.com/python/psf-infra-meta/issues/49#issuecomment-662913511). Quoting my reply there:

[2020-07-23 15:21] E-Paine commented on #70
Python evaluates `16 ** -1` to a float meaning that the result of the multiplications is also a float (hence why `print(d)` and `print(int(d))` give different outputs). The Python float is built using the C double and so is limited by the under-lying mantissa size. In the future please post such a problem to [bugs.python.org](https://bugs.python.org) as "psf-infra-meta" is a meta-tracker (mainly)

[2020-07-23 15:27] E-Paine commented on #64
Please report this on the matplotlib project's [Github page](https://github.com/matplotlib/matplotlib/issues). Also, "psf-infra-meta" is a meta-tracker meaning it is (mainly) meant for reporting issues with the normal bug tracker found at [bugs.python.org](https://bugs.python.org).

[2020-07-23 15:31] E-Paine commented on #63
Please note that `'h' or 'p' in str` is equivalent to `'h' or ('p' in str)` instead of `'h' in str or 'p' in str` (where `'h'` gives `True` because it is not an empty string). Please note that "psf-infra-meta" is a meta-tracker meaning it is (mainly) meant for reporting issues with the normal bug tracker found at [bugs.python.org](https://bugs.python.org).

[2020-07-23 16:49] #49 closed

[2020-08-04 02:42] JFR-Gabriel opened #75 "Problem with serial communication"
I was doing a small serial communication system using pyserial. when I done the script on a .py file, it not worked. but when I opened
the python console and writed line by line the same code of the .py file, it worked.

the .py file:
`import serial`
`ser = serial.Serial('com5')`
`ser.write('L'.encode())`
`ser.close()`

it not worked.

on the python console:
**python**>> `import serial`
**python**

[2020-08-04 12:00] pradyunsg commented on #75
Hi! Thanks for filing this but this isn't the right place for this issue.

This issue tracker is for the infrastructure for Python that is managed by the Python Software Foundation (such as python.org, bugs.python.org, docs.python.org etc), not for pyserial and for getting help related to it.

I think that the [pyserial issue tracker](https://github.com/pyserial/pyserial/issues?q=is%3Aissue+is%3Ao

[2020-08-23 19:00] bhrutledge opened #76 "Merge/delete accounts on bugs.python.org?"
Hi there! I accidentally logged in with GitHub after previously registering. I now have two accounts:

[User 34882: bhrutledge - Python tracker](https://bugs.python.org/user34882) - Original account, signed contributor form, preferred username
[User 35614: brianhrutledge - Python tracker](https://bugs.python.org/user35614) - Created by logging in with GitHub, commented on [one issue](https://bugs.

[2020-08-27 13:47] pickerstick opened #78 "Python 3.8.5 can't save file"
I tried opening a python file(editited in 3.8.1,opening in 3.8.5) by using MOUSE-RIGHT+e+e and the editor showed up but I can't save file!
Opening a new file by MENU/FILE/New Window works properly and is savable but can't save later using method written above.
HELP!

[2020-08-27 19:07] E-Paine commented on #78
Thank you for reporting this bug. It has already been fixed in [issue 41373](https://bugs.python.org/issue41373) just over a month ago, and is already available in the 3.9 release candidate (though will only be available for the 3.8 branch from 3.8.6). In the future, please use [bugs.python.org](bugs.python.org) to report problems as this tracker is meant for reporting bugs with that system. Again

[2020-08-27 19:19] E-Paine opened #79 "psf-infra-meta should point to bpo"
Of the latest 10 issues on this tracker (when I last looked), a significant number were not suited to it. A lot of new contributors are coming here to report standard Python bugs which should be on bpo. I believe the solution is to make it very clear in the README for this project that bpo is *the* place to go for Python bugs (I think it is already clear this is a meta-tracker and so this does not

[2020-08-28 16:15] ThubLives opened #80 "Error after GitHub login"
When I click on the GitHub login link, I put in my GitHub credentials and the next page is just an error message:  An error has occurred.  The login to GitHub was successful, but subsequently clicking on the GitHub login link on the tracker page goes directly to the error page.  Logging out of GitHub and trying again looks exactly like the first attempt.

[2020-08-28 17:29] pradyunsg commented on #79
It might also make sense to add an issue template telling users "if you're filing a bug related to Python itself, use b.p.o. if you're filing an issue to get help/support, consider opening a question on Stackoverflow" or something along those lines.

[2020-09-01 14:17] ThubLives commented on #80
I've tried removing the OAuth authorisation from my GitHub account and trying again, but when I accept the authorisation, it just goes back to that "an error has occurred" page.

[2020-09-01 14:59] blueyed commented on #76
Same for me: https://bugs.python.org/user35708 (via GitHub login), https://bugs.python.org/user2770 (original user).
When using the GitHub option with "OpenID providers" in the main/first profile I get logged in as the user I'd like to have deleted (which is not possible apparently (#36)).

So in my case I'd like to remove the GitHub-OpenID association with the 2nd user account, so that it could b

[2020-09-01 15:00] blueyed commented on #76
btw: I've tried again after removing the GitHub username from the 2nd account, which was on the first already - this should probably have caused an error or confirmation when using the GitHub "signup", since the username was taken already.

[2020-09-17 11:35] ghost opened #82 "element isn't printed if the previous element is deleted from the list using for loop"
![Code Playground _ SoloLearn_ Learn to code for FREE! - Google Chrome 17-09-2020 17_03_54](https://user-images.githubusercontent.com/59786025/93465077-e5942500-f907-11ea-954c-5aa2515c668f.png)
![Code Playground _ SoloLearn_ Learn to code for FREE! - Google Chrome 17-09-2020 17_03_54](https://user-images.githubusercontent.com/59786025/93465086-e7f67f00-f907-11ea-8bad-b0b9f32f7dc9.png)

[2020-09-20 06:39] AnudeepBalla opened #83 "ipaddress Library gives me incorrect results"
https://docs.python.org/3.8/library/ipaddress.html

[code]
![Screen Shot 2020-09-20 at 1 33 30 AM](https://user-images.githubusercontent.com/58192427/93705253-4cb90180-fae1-11ea-9268-8f6194faa793.png)

I tried to validate an invalid IPv4 address using IPaddress library from py 3.8.6 but somehow it considers any address ending with "00" to be valid.

I hope this is helpful to the community please l

[2020-10-16 13:02] allen546 opened #84 "Python 3.9.0 Gives Me Keyword Problems"
When I tried imapclient, It gives me a full traceback down to imaplib. Here it is:
Traceback (most recent call last):
  File "C:/Users/lshom/AppData/Local/Programs/Python/Python39/email_explore.py", line 147, in <module>
    main()
  File "C:/Users/lshom/AppData/Local/Programs/Python/Python39/email_explore.py", line 12, in main
    c = IMAPClient(hostname, ssl=True)
  File "C:\Users\lshom\AppData\

[2020-10-16 13:10] pradyunsg commented on #84
Hi! Thanks for filing this but this isn't the right place for this issue.

I think that [python-tutor](https://mail.python.org/mailman/listinfo/tutor) mailing lists, [#python on Freenode](https://webchat.freenode.net/?channels=%23python) (IRC) or [StackOverflow](https://stackoverflow.com) would be better channels to get support for the issue you're facing.

[2020-11-02 03:07] mailmrcai opened #85 "Python string function "strip()" bug"
In [1]: example_str = "es_e"
In [2]: example_str.strip("es_")
Out[2]: ''

In [3]: example_str = "es_eabc"
In [4]: example_str.strip("es_")
Out[4]: 'abc'
#why the last "e" is stripped ?

[2020-11-02 06:35] wsw0320 opened #86 "Python xml parse bug"
from xml.etree import ElementTree

xml = """<?xml version="1.0" encoding="GBK"?><data><test1>{"name": "name", "description": "<p>description</p>"}</test1><test2>0</test2></data>"""
root = ElementTree.fromstring(xml)

for child in root:
    print(child.tag,child.text)

[2020-11-02 06:37] wsw0320 commented on #86
1

[2020-11-02 06:37] #86 closed

[2020-11-16 18:46] abishekbalaji97 opened #87 "Improving the documentation of str.split() function"
The documentation for str.split() should include what will happen if the character(s) passed through the "sep" argument are not found in the string passed as an argument. When no matches are found the string is returned as a whole within a list.

[2020-11-25 11:19] malemburg opened #88 "bpo does not support longer email signatures"
I'm opening a new bug report here, since the old bpo issue tracker apparently no longer exists and the ticket haven't been migrated.

bpo has an issue with email sigs which are longer than 3-4 lines (don't remember the exact details). Instead of removing the sign when posting to an issue via email, it takes the complete sig and adds it to the message posted on bpo, e.g. https://bugs.python.org/iss

[2020-11-25 11:21] malemburg opened #89 "bpo tracker wiki page still points to the old meta tracker"
Here's the page: https://wiki.python.org/moin/TrackerDevelopment with the link in "We have a meta tracker for current issues and DesiredTrackerFeatures page for recording ideas. See also TrackerDevelopmentPlanning. ". "meta tracker" links to http://psf.upfronthosting.co.za/roundup/meta/ which no longer resolves.

Should this be updated to point to this tracker ?

[2020-11-30 08:09] Sathvik-Rao opened #90 "tuple slice bug"
[code]
Expected output ```(2)```
bug -> ```,```

[2020-11-30 08:50] #90 closed

[2020-12-03 02:29] YXinAndy opened #91 "re库匹配错误"
import re
a = """0xd26935a5ee4cd542e8a3a7e74fb7a99855975b59\n"""

eth_re = re.compile(r'^0x[0-9a-fA-F]{40}$')

print(eth_re.match(a))
print(len(a)) # 长度43

[2020-12-03 06:40] #91 closed

[2020-12-09 20:36] ceo-software-forge-de opened #92 "pip upgrade to 20.3.X on Windows 10"
System: Windows 10 Home 64-bit, AMD Ryzon 5 3400G with Radeon Vega GPU
Python 3.9.0/3.9.1

C/C++ 14.16 (a. o.) VC 2019 Community Edition

Issue: Pip wants to use a certain "t64.exe" tool, which isn't installed - ...and "What for", i've to ask - does it have any purpose?
Issue output follows!

PS C:\Windows\system32> python -m pip install --upgrade pip
Collecting pip
  Using cached pip-20.3.1-py2.p

[2020-12-11 20:19] embray opened #93 "Rude spam on bpo"
Anyone know how to deal with this?

https://bugs.python.org/issue21536#msg382882

[2020-12-29 05:37] ReblochonMasque opened #94 "Redirect to issue tracker upon (first) login"
Hello,

First time registering and logging in on the bug tracker. Upon registering, which I did from [this page](https://bugs.python.org/issue38649) I was redirected to [that page](https://bugs.python.org/), which was a bit unexpected.
Not a big deal, but surprising, and I thought I would report it before it gets forgotten.

(I am unsure is this is the right place to report; please let me know if

[2021-01-08 01:57] karlcow commented on #54
not receiving notification emails too.

[2021-01-09 18:49] 2d4d opened #95 "Didn't get confirmation emails"
Hello,

tried to register on https://bugs.python.org/ but never got an confirmation email. Neither via launchpad nor directly registering. nothing in the spam folder. last username tried was another_try.

regards
arnim

[2021-01-10 18:12] #95 closed

[2021-01-27 14:40] KiteJencien opened #96 ""Could not access network location _\." during installation of python 3.x on windows 10"
I tried all the python releases of python 3.x, with all the runnable installers giving me this message "Could not access network location _\." , which interrupted the installation.

the log info:
[code]

The complete installer log file is attached beneath:

[Python 3.8.6 (32-bit)_20210127221529.log](https://github.com/python/psf-infra-meta/files/5880908/Python.3.8.6.32-bit._20210127221529.log)

[2021-02-04 21:39] KeithProctor opened #97 "Pythons 3.8.2 subprocess.poll( ) hangs after being called 40 or 50 times"
I just upgraded to MacOS 11.2 which now uses Python 3.8.2. My test suite guarantees that printed output prints as the output is sent to the console by using the code snippet below. As verified by the print xxx or print yyy statements the code hangs after roughly 50 Unit Tests. This code has been working for roughly 4 years and of course was working in the Python that ships with Big Sur 11.1. Any i

[2021-02-04 21:44] KeithProctor commented on #97
I have tried using print with flush set to true.  Could there possibly be other work arounds?

[2021-02-05 00:10] KeithProctor commented on #97
I tried this as well... which also fails.
[code]

[2021-02-07 19:04] samrajput1143 opened #98 "Found bug in the method of generating 2d list in python."
def generateMatrix(A):    #A is positive integer
    d=A-1
    data=1
    B=[[0]*A]*A
    for l in range(int(A/2)):
        i=l
        j=l
        for a in range(d):
            B[i][j]=data
            print("{0}:{1}:{2}".format(i,j,B[i][j]),end=" ")
            data+=1

            j+=1
        print()
        for a in range(d):
            B[i][j]=data
            print("{0}:{1}:{2}".format(i,

[2021-02-08 10:03] samufi opened #99 "Cannot login via GitHub"
I would like to log in to bugs.python.org via my github account. On my first login attempt, I was notified that I need to make my email-address public on github. I have done this and retried to login. Now, whenever I try it again, I get the non-informative error message

which is German for

The issue has persisted for a week now, so I do not expect anything to change without work on my side. I ha

[2021-02-15 07:52] steelman commented on #99
I get the same message because of empty `Name` field. However, when I set the field for a moment to my real name (which contains a non-ascii character) I get the following message

I don't want to fill in my name on github. Please allow logins to bugs.python.org without the name in github's profile.

[2021-02-16 00:45] fusionneur commented on #36
Still no way to remove account in 2021.. GDPR much..

[2021-02-16 01:39] rouilj commented on #36
Patches thoughtfully considered.

I can see two ways to do this:

  1) overwrite identifying info (username, real name, organization etc.) and retire the node. Set up the schema so that
       a retired user's record is not accessible (except by admins). However the username is available. This preserves
      an entry for fields that reference the user object while anonymizing/eliminating PII.
  2

[2021-02-16 03:35] rouilj commented on #98
This is the wrong place to post a python bug. This tracker is for issues with the https://bugs.python.org tracker used for tracking python bugs.

[2021-02-19 18:22] athompson1991 commented on #34
Me too!

[2021-03-01 13:03] juestr commented on #99
I also had the empty email problem, then:

    'ascii' codec can't encode character u'\xfc' in position 1: ordinal not in range(128)

My name includes a German umlaut "ü", and it's 2021, I don't want to change it. Please support unicode in names.

[2021-03-08 08:16] eli-fin commented on #80
Same issue here. See https://github.com/python/bugs.python.org/issues/26

[2021-03-19 08:30] vick2075 opened #100 "numpy operation"
I stumbled onto something very peculiar and am wondering if it is a Python bug or it's something I did not properly understand with regard to Numpy arrays.

I'm computing the Kernel trick:

(c + np.matmul(x1, x2.T)) ** n
n = nth power; c = free parameter

Let x1 be (3,6) and x2 = (10, 10)

Computing the matmul should result in 90. However when I use c=2 and n=5; the result is incorrect! It gives -

[2021-03-24 03:31] DiegoEPaez opened #101 "http.client bug when using SSLContext + transfer-encoding: chunked"
When using http.client such as in the following way:

`import http.client
import json
import ssl

certificate_file = 'file.pem'
certificate_secret= 'pwd'
host = 'hostname.mx'

context = ssl.SSLContext(ssl.PROTOCOL_SSLv23)
context.load_cert_chain(certfile=certificate_file, password=certificate_secret)

connection = http.client.HTTPSConnection(host, port=443, context=context)

connection.request(met

[2021-04-20 12:00] tiran opened #102 "Please create 3.11 version on BPO"
BPO has versions 3.6 to 3.10. Could you please add 3.11? I would like to flag some tickets that won't make it into 3.10 beta1.

CC @pablogsal

[2021-04-20 22:42] pablogsal commented on #102
Done!

[2021-04-20 22:42] pablogsal commented on #102
Can you check if you are able to use it?

[2021-04-21 06:44] tiran commented on #102
It works, thank you!

[2021-04-21 06:44] #102 closed

[2021-04-23 12:42] tiran opened #103 "test-with-buildbots is not triggering buildbots"
On PR https://github.com/python/cpython/pull/25553 the ``test-with-buildbots`` label doesn't trigger buildbot testing properly. In the first attempt no buildbot was triggered. I tried again 15 minutes later. The second time only ``buildbot/s390x Debian PR`` got started.

CC: @pablogsal @vstinner

[2021-04-23 12:47] pablogsal commented on #103
That's because the builbots are busy. They only start reporting when they receive your request. You can see the queried requests here:

https://buildbot.python.org/all/#/pendingbuildrequests

[2021-04-23 12:50] tiran commented on #103
Thanks @pablogsal, I didn't know that. Is there a simple way to improve reporting? Or should I create a PR to include the link into the Bedevere reply?

[2021-04-23 12:51] pablogsal commented on #103
For example, for your PR https://github.com/python/cpython/pull/25553 :

this buildbot has these builds:

https://buildbot.python.org/all/#/builders/500

and here is your pending request:

https://buildbot.python.org/all/#/buildrequests/199658

[2021-04-23 12:51] pablogsal commented on #103
We should investigate if is possible to report a "pending" check as soon as they trigger

[2021-04-23 12:54] pablogsal commented on #103
In the buildbot docs, seems that the only generators that they have are:

http://docs.buildbot.net/latest/manual/configuration/report_generators/index.html

and the one we use only reports starts/ends:

http://docs.buildbot.net/latest/manual/configuration/report_generators/build_start_end.html#reportgen-buildstartendstatusgenerator

We could either improve the error message or/and try to make our

[2021-04-23 12:56] pablogsal commented on #103
Do you mind making a PR to include the link? The code is here:

https://github.com/python/buildmaster-config/blob/f0b45256606d6173924c5b35e718944eaf0e2795/master/custom/pr_testing.py#L16

[2021-04-23 13:00] tiran commented on #103
I'm bit busy right now. Can you assign this ticket to me, please? I'll take a look later or early next week. I don't have permission to self-assign on this tracker.

[2021-04-23 13:07] pablogsal commented on #103
Me neither, but don't worry, given that everyone is using the label these two weeks quite a lot I will try to do it today so there is no more confusion regarding this.

Thanks for raising this @tiran

[2021-04-23 13:23] pablogsal commented on #103
I think this may improve the situation: https://github.com/python/buildmaster-config/pull/242

[2021-04-23 13:28] tiran commented on #103
Fantastic!

I noticed that cancelled jobs are marked as failed.

[2021-04-23 15:37] pablogsal commented on #103
Yeah, I scheduled a new run for your PR

[2021-04-23 15:38] pablogsal commented on #103
You need to still manually inspect failures because there are still known problems:

https://buildbot.python.org/all/#/release_status

[2021-04-24 20:52] matrixise commented on #101
@pablogsal I don't have the access to this tracker, but this issue is unrelated to the PSF infra. Do you think you could close this one? Thanks

[2021-04-24 20:52] matrixise commented on #100
@pablogsal I don't have the access to this tracker, but this issue is unrelated to the PSF infra. Do you think you could close this one? Thanks

[2021-04-24 20:53] pablogsal commented on #100
I don't have access either

[2021-04-24 20:53] matrixise commented on #84
@pablogsal I don't have the access to this tracker, but this issue is unrelated to the PSF infra. Do you think you could close this one? Thanks

[2021-04-24 20:53] pablogsal commented on #101
Unfortunately I don't have access either to close the issue.

[2021-04-25 06:39] pradyunsg commented on #101
@ewdurbin should be able to.

[2021-04-25 06:39] pradyunsg commented on #100
@ewdurbin should be able to close this.

[2021-04-26 13:41] #100 closed

[2021-04-26 13:41] #101 closed

[2021-04-26 20:36] matrixise commented on #97
@ewdurbin Could you close this one? Thanks

[2021-04-26 20:37] matrixise commented on #96
@ewdurbin Could you close this one? Thanks

[2021-04-26 20:37] matrixise commented on #92
@ewdurbin Could you close this one? Thanks

[2021-04-26 20:38] matrixise commented on #87
@ewdurbin Could you close this one? Thanks

[2021-04-26 20:39] matrixise commented on #84
@ewdurbin Could you close this one? Thanks

[2021-04-26 20:39] matrixise commented on #83
@ewdurbin Could you close this one? Thanks

[2021-04-26 20:39] matrixise commented on #82
@ewdurbin Could you close this one? Thanks

[2021-04-26 20:39] matrixise commented on #78
@ewdurbin Could you close this one? Thanks

[2021-04-26 20:39] matrixise commented on #75
@ewdurbin Could you close this one? Thanks

[2021-04-26 20:39] matrixise commented on #73
@ewdurbin Could you close this one? Thanks

[2021-04-26 20:39] matrixise commented on #70
@ewdurbin Could you close this one? Thanks

[2021-04-26 20:42] matrixise commented on #67
@ewdurbin Could you close this one? Thanks

[2021-04-26 20:42] matrixise commented on #66
@ewdurbin Could you close this one? Thanks

[2021-04-26 20:42] matrixise commented on #65
@ewdurbin Could you close this one? Thanks

[2021-04-26 20:42] matrixise commented on #64
@ewdurbin Could you close this one? Thanks

[2021-04-26 20:42] matrixise commented on #63
@ewdurbin Could you close this one? Thanks

[2021-04-26 20:43] matrixise commented on #60
@ewdurbin Could you close this one? Thanks

[2021-04-26 20:43] matrixise commented on #59
@ewdurbin Could you close this one? Thanks

[2021-04-26 20:43] matrixise commented on #52
@ewdurbin Could you close this one? Thanks

[2021-04-26 20:43] matrixise commented on #51
@ewdurbin Could you close this one? Thanks

[2021-04-26 20:43] matrixise commented on #32
@ewdurbin Could you close this one? Thanks

[2021-04-26 20:43] matrixise commented on #30
@ewdurbin Could you close this one? Thanks

[2021-04-26 20:44] matrixise commented on #28
@ewdurbin Could you close this one? Thanks

[2021-04-26 20:44] matrixise commented on #25
@ewdurbin Could you close this one? Thanks

[2021-04-26 21:07] KeithProctor commented on #97
Sorry, Stéphane,  There wasn't a link to the issue and searching doesn't bring it up.

 Keith Proctor
***@***.***
Software Development Engineer
Claris International Inc., formerly FileMaker, Inc.
M: 01-408-987-7461

This email and any attachments may be privileged and may contain confidential information intended only for the recipient(s) named above. Any other distribution, forwarding, copying o

[2021-04-26 21:42] #30 closed

[2021-04-27 06:59] #56 closed

[2021-04-27 08:20] #25 closed

[2021-04-27 08:20] #28 closed

[2021-04-27 08:20] #32 closed

[2021-04-27 08:20] #51 closed

[2021-04-27 08:20] #52 closed

[2021-04-27 08:21] #73 closed

[2021-04-27 08:21] #70 closed

[2021-04-27 08:21] #67 closed

[2021-04-27 08:21] #66 closed

[2021-04-27 08:21] #65 closed

[2021-04-27 08:21] #64 closed

[2021-04-27 08:21] #63 closed

[2021-04-27 08:21] #61 closed

[2021-04-27 08:21] #60 closed

[2021-04-27 08:21] #59 closed

[2021-04-27 08:22] #84 closed

[2021-04-27 08:22] #83 closed

[2021-04-27 08:22] #82 closed

[2021-04-27 08:22] #78 closed

[2021-04-27 08:22] #75 closed

[2021-04-27 08:22] #96 closed

[2021-04-27 08:22] #92 closed

[2021-04-27 08:22] #87 closed

[2021-04-27 08:23] #79 closed

[2021-04-27 08:24] #97 closed

[2021-04-27 16:07] vstinner commented on #103
This psf-infra-meta is a broad project, I suggest to use the more specific list https://mail.python.org/mailman3/lists/python-buildbots.python.org/ (or  https://github.com/python/core-workflow/issues ) to report buildbot issues.

[2021-05-04 06:44] matrixise commented on #98
@ewdurbin Please, could you close this issue? Thank you,

[2021-05-04 06:45] matrixise commented on #85
@ewdurbin Please, could you close this issue? Thank you,

[2021-05-04 09:45] ewdurbin commented on #85
@matrixise aside, I've granted you triage permission on this repository for future use.

[2021-05-04 09:45] #85 closed

[2021-05-04 09:46] #98 closed

[2021-05-04 17:55] wlei2021 opened #104 "embedded python hang, is there a way to restart without restarting the process?"
We have an embedded python in our application.  Our application has a python script window that allows user to execute script.
It can be executed in main thread (where the UI thread is) or a separate background thread.

We found an issue that certain python libraries such as scipy (e.g. import scipy) or any libraries that deal with the UI (such as matplotlib) needs to run in the main thread.  If i

[2021-05-05 11:22] matrixise commented on #104
Sorry, but this bug tracker is not for Python itself, for that, you can use this page: https://discuss.python.org/c/users/7

[2021-05-05 11:22] #104 closed, assigned to nobody

[2021-05-09 15:29] mwichmann commented on #36
Came back to this because there's another request to be removed from b.p.o.

This "trick" for dealing with deleted accounts is described by github:

[2021-05-09 16:40] rouilj commented on #36
Hi Mats:

In message ***@***.***>,
Mats Wichmann writes:

I have seen that as well. You don't gain that much over just rewriting
the PII in the user record and change the user name to "ghost 23",
"ghost 24" etc. Folow this by deleting the history for the user
object keeping ony the initial create entry.

This does make the tracker spookier (more ghosts), but it also
preserves utility. It is very d

[2021-05-10 06:58] pxinwr opened #105 "I can't receive another email with the new password."
I tried to reset my password for bpo system as I forgot it. But after I received confirmation email, I can't receive another email with the new password. Any problem with the Python login system?

[2021-05-10 07:49] matrixise commented on #105
Hi @pxinwr

I have checked with the same procedure, "Lost your login?" and I have received two emails as you can check with my screenshot. No problem with the Python login system. off chance, have you checked your SPAM folder?

<img width="838" alt="Screenshot 2021-05-10 at 09 46 38" src="https://user-images.githubusercontent.com/38737/117623927-a7889180-b174-11eb-83ff-4dc6aeb8dd6c.png">

I am goi

[2021-05-10 07:49] #105 closed, assigned to nobody

[2021-05-10 09:09] pxinwr commented on #105
Thanks @matrixise Not in my spam folder. However, now I can successfully login in using my associated github account. Also setting new password succeeds. Let's skip the issue since I've got solution.

[2021-05-11 23:37] mwichmann commented on #36
I'm not advocating for anything particular - the above sounds as reasonable to me (or more so) than the GH approach.  What I would like to get to is a response we can give, and a removal guide, and a way to get requests to someone who can do it.  What I'd prefer doesn't happen is people get into arguments with Noah threatening to take legal action if we don't purge them, which my memory tells me h

[2021-05-12 02:37] rouilj commented on #36
I am collecting info at: https://wiki.roundup-tracker.org/RemovingUsers I pinged a couple of b.p.o admins on IRC and pointed
them to this ticket.

[2021-05-12 13:39] ewdurbin commented on #36
I believe the GDPR complaint can be brought up to legal@python.org, I cannot speak to that with authority.

As far as retiring users using the existing functionality goes, that has been done at request. I have fulfilled this in my duties as PSF Staff, but would certainly be interested in sharing that responsibility with other administrators via the Web UI rather than having to shell into the host.

[2021-05-18 21:51] twitchpot opened #106 "double row count with .size"
the .size method reports twice as many rows in a dataframe as are actually there.  .shape works fine.

[2021-05-25 13:37] matrixise commented on #106
Unrelated to Python, You have to fill an issue for [Pandas](https://github.com/pandas-dev/pandas/issues/new/choose)

[2021-05-25 13:37] #106 closed, assigned to nobody

[2021-05-28 14:56] thetorpedodog opened #107 "Unlinking a Google/GitHub account from a user does not allow it to be used with another user"
When I (`pfish`, [BPO user27890](https://bugs.python.org/user27890)) accidentally logged in with a Google account that I had not associated with my BPO account, it created a new account ([user39101](`__bogus_account__` https://bugs.python.org/user39101)).

I then went to “Drop this ID” using the handy button:

![Screenshot from my account page, with Drop This ID button visible](https://user-images

[2021-06-01 04:38] ewongbb opened #108 "Bugtracker should check for existing username before allowing the user to register."
When registering on bugs.python.org,  I entered my desired username (ewong) and all the other necessary information.
I clicked on register and it sent me an email with a link.

When I clicked on the link, it brought me to the bug tracker page with a red notification stating
that "node with key 'ewong' exists".

The bugtracker should really check whether or not the entered username exists in the us

[2021-06-04 12:37] tiran opened #109 "Don't auto-assign SSL component to me"
Please remove auto-assignment of SSL component to ``christian.heimes``. I'm taking a break.

[2021-06-05 14:26] zlwq opened #110 "Abnormal alignment in initialization of two-dimensional list"
When creating a two-dimensional list like this,everything is OK.
[code]

Another compact style issues an error,check it out:

[code]
or

[code]
You may find the error patterns.

[2021-06-05 14:28] zlwq commented on #110
In python 3.7.10 (default, Feb 26 2021, 13:06:18) [MSC v.1916 64 bit (AMD64)] with Spyder

[2021-06-05 14:30] matrixise commented on #110
Unrelated to Python and the infrastructure of the PSF.

[2021-06-05 14:30] #110 closed, assigned to nobody

[2021-06-10 14:54] MicaelJarniac opened #111 "Outdated copyright year (1990-2020) on Tracker footer"
https://bugs.python.org

[2021-06-11 07:42] matusf commented on #99
OK, this is stupid but it works. I've had the same issue since my name contains non ascii characters.

1. change your name in your github account settings
2. register on bugs.python.org
3. change your name back in your github account settings
4. profit

You can also change your name in bugs.python.org settings. After you are registered, logins work even when your name contains non ascii characters

[2021-06-11 11:15] juestr commented on #99
It still needs to be fixed. Most people won't even bother reading this, and valued  bug reports are lost.

[2021-06-16 20:42] sarkissian001 opened #112 "mistake_in_argparser_documentation"
An issue in `Introducing Positional arguments` documentation.
URL -  https://docs.python.org/3/howto/argparse.html

The following code will return a type error:

import argparse
parser = argparse.ArgumentParser()
parser.add_argument("square", help="display a square of a given number")
args = parser.parse_args()
print(args.square**2)

This should be changed to:

import argparse
parser = argparse.Ar

[2021-06-16 20:49] #112 closed, assigned to nobody

[2021-06-16 20:51] sarkissian001 opened #113 "argparder_documentation_error"
An issue in Introducing Positional arguments documentation.
URL - https://docs.python.org/3/howto/argparse.html

The following code will return a type error:

import argparse
parser = argparse.ArgumentParser()
parser.add_argument("square", help="display a square of a given number")
args = parser.parse_args()
print(args.square**2)

This should be changed to:

import argparse
parser = argparse.Argum

[2021-06-16 20:52] #113 closed, assigned to nobody

[2021-06-26 03:31] redrose2100 opened #114 "for string methods strip, lstrip, rstrip, when param is a string which has more than one char, those methods is no useful currently"
for string methods strip, lstrip, rstrip, when param is a string which has more than 1 char, currently those methods remove char ,but not remove string , it is no useful

following is the results in python 3.9.5

[code]

In fact,
when s="hellolloehb" , s.lstrip("hello") expect to get "lloehb"
when s="blloehhello" , s.rstrip("hello") expect to get "blloeh"
when s="helloehhollbllohhehello" , s.strip

[2021-06-26 04:11] matrixise commented on #114
Unrelated to this project, please open an issue in the official bug tracker of Python or ask on a user mailing list.

[2021-06-26 04:11] #114 closed, assigned to nobody

[2021-06-29 01:34] vstinner opened #115 "https://hg.python.org/ is down"
https://hg.python.org/ currently says:

[code]

I was looking for https://hg.python.org/cpython/rev/3c43be281196 link from https://bugs.python.org/issue14424#msg162191

[2021-07-09 07:38] Wesley-Jzy opened #116 "Possible Py_XDECREF in cpython typeobject.h"
https://github.com/python/cpython/blob/7b21108445969398f6d1db9234fc0fe727565d2e/Objects/typeobject.c#L409

When entering this line, a double Py_XDECREF on mro_meth and type_mro_meth will happen in clear.

Maybe mro_meth and type_mro_meth should be set to NULL after Py_XDECREF like following code.
if (custom) {
        mro_meth = lookup_maybe_method(
            (PyObject *)type, &PyId_mro, &unboun

[2021-07-09 07:38] #116 closed, assigned to nobody

[2021-07-18 02:00] d066 opened #118 "tracker delete"

[2021-07-18 05:26] #118 closed, assigned to nobody

[2021-07-25 14:50] Alilux opened #120 "Resolved.md"

[2021-07-25 16:38] #120 closed

[2021-07-25 16:38] matrixise commented on #120
Unrelated

[2021-08-01 20:22] graingert commented on #115
@vstinner seems to be working now

[2021-08-04 15:43] vstinner commented on #115
Right. Magic happens! I close my issue.

[2021-08-04 15:43] #115 closed, assigned to nobody

[2021-08-12 19:00] Ardeer opened #123 "floating point error"
0.01 + 273.15 should equal 273.16 but in python 3.9.5 or earlier report as 273.15999999999997.

see bug tracker at python.org - issue 44910

[2021-08-13 18:34] #123 closed, assigned to nobody

[2021-08-13 18:34] Ardeer commented on #123
see bug tracker at python.org - issue 44910

[2021-08-18 11:35] Omcsesz opened #124 "Not able to filter for issues having/not having PRs"
Hello, Team!

I used the Python issue tracker, but it seems for me that there is no option for filtering issues according to having/not having a GitHub pull request. Can you add this functionality to the issue tracker?

[2021-08-18 14:28] Omcsesz opened #125 "Not able to login to bugtracker via Github"
Hello, Team!

When I click on the Github icon above the login field, I get an error message (see attachment).
[GithubLoginToPythonBT](https://user-images.githubusercontent.com/1839739/129916685-8aeebe07-4323-4f70-b7e1-6821f03afa6e.gif)

Can you fix this?
This issue is linked to #99

[2021-08-28 13:24] kevinoid opened #126 "How to flag/report spam messages on bpo issues?"
As in python/psf-infra-meta#93, I'd like to report a spam message on an issue I'm following.  [Message 400464](https://bugs.python.org/msg400464) contains the content "No comment" and added [File 50238](https://bugs.python.org/file50238), a PDF advertisement for Microsoft Certifications.

I didn't see a way to flag the message/file or a better place to report such spam.  My apologies if I've overl

[2021-08-29 17:46] Duveyes75 opened #127 "Zenkeyothersoftware"
<!--
Carlos trigueros amongst others lavonda kamer keaayo vaile Ashley Reimer pernyak Cam'ron crismon Jason Shelton ambrose Murray angelica gomez are all working together as a group my father better known as geooj@sbcgolbal.net is being impersonated im being impersonated and mainly carlosnis changing his documentation accessing bitcoin crypto and emails both mine and my fathers claiming and stakin

[2021-08-29 17:49] Duveyes75 commented on #127
Asditionally my only account is 2938888753 its not a recipient of Melissa xrismon Ashley Reimer on Google getting paid for George Clifford joines jrs software is it? Yet im my dads only daughter. I need help serious software engineer help. Please help me  my number is 7024693029 they void also all my calls email Phileas text internet block me their trying to cashou verizon assets now can u please

[2021-08-29 21:32] matrixise commented on #127
Unrelated to Python

[2021-08-29 21:32] #127 closed, assigned to nobody

[2021-09-23 03:45] weditor opened #128 "use multiple "in" in one expression?"
I find it's a valid expression: `1 in [1, 2, 3] in [4, 5, 6]` 。

`a in b in c` seems to be equivalent to `a in b and b in c`  。

it seems useless, and easy to confused with `(a in b) in c` .
in this program, what I originally want is `if a in b and a in c` , But it was mistakenly written as `a in b in c`

This is too weird , is this a bug ?

[2021-09-23 03:52] weditor commented on #128
This expression is similar to `a<b<c` 。
But this seems very unreasonable 。

[2021-09-23 04:31] weditor commented on #128
sorry, The issue is in the wrong place

[2021-09-23 04:31] #128 closed, assigned to nobody

[2021-09-26 05:34] sweeneyde opened #129 "BPO "GH-5195" MouseOver ToolTip text References "GH-15194""
At https://bugs.python.org/msg397968, I had typed `GH-5194`, which correctly links to https://github.com/python/cpython/pull/5194.

However, the appearance of that link is suspect for two reasons:

1. When I mouse over, the tooltip text reads `GitHub PR 5194: [open] bpo-21161: pdb: default: handle list comprehensions`, as if to link to https://github.com/python/cpython/pull/15194. Note the differe

[2021-09-26 06:14] sweeneyde commented on #129
Relevant code is [here](https://github.com/psf/bpo-tracker-cpython/blob/a4fa2c2fd699c341b24a61b7f8e5b50e2fd5980d/extensions/local_replace.py#L175-L201).
[code]

In my case, this must have returned

[code]

There is nothing identifiably wrong with that HTML snippet, it's just that the wrong PR metadata was pulled.
I think there could be a rule to prioritize exact matches of `number=pr_no` rather th

[2021-09-30 07:48] rtobar commented on #99
Happened to me today too

[2021-10-06 10:18] cclauss opened #130 "Issue Tracker: There are multiple records with the same email address"
I would like to open an issue on the Python Issue Tracker but I have multiple user records with the same email address and I am unable to edit or delete any of them.

https://bugs.python.org/user?realname=clauss&%40action=search  Shows three user records.

Is there a way that you or I can edit or delete the user records that do not have a `CLA signed` associated with them so that I can fully log i

[2021-10-06 17:40] Joshuah143 opened #131 "Broken link on the tracker development page"
There is a broken link on the https://wiki.python.org/moin/TrackerDevelopment page. Where it links to:

[http://psf.upfronthosting.co.za/roundup/meta/](http://psf.upfronthosting.co.za/roundup/meta/)

in the second paragraph (We have a **meta tracker** for current). This link doesn't work because of DNS issues.

Possible fix's:
Remove link
Replace with link to Github
Fix DNS

[2022-01-02 08:42] imomaliev commented on #76
I as well encountered the same issue. While trying to login via github.com I accidentally created second account `imomaliev2` - can someone delete it, please. I pressed "Drop Id" and changed email to "delete@this.com"

[2022-01-04 02:13] Xenox-Inno opened #132 "** opeator issue on negative number with even exponent"
Hi, I'm using python 3.9.9. When i using pow operator ** on negative integer with even exponent such as 2, the return value is also negative. However when i using math.pow, the return value will be positive, which i assume is the correct return value.

Thanks! Have a nice day

[2022-01-06 01:58] cedarbob opened #133 "Unable to register to report python issue."
When I click on the confirmation email (which I only received on 1 out of 4 registration attempts), the browser page I was taken to showed a red error banner saying "No such otk " followed by what appears to be a key string of some sort.

[2022-02-01 20:09] mathismathews opened #134 "Good bay facebook !!!!!#8J.A.MATHEWS=APPLO SPACEBOOK<<<<<>>>"

[2022-02-01 20:12] mathismathews commented on #134
IPA NAVER NAVER REMOVE NUDE

[2022-02-01 20:14] mathismathews commented on #134
Xyz
XYZ
XYZ
Act
0000000009988890097668000958009087 558-35-5337 3 553986432897 060205c 2 1442jpact 9 1442jpact 8 060205c 399

[2022-02-14 23:27] moreati opened #135 "Request: removal of me from add_to_nosy on Cross-build component"
On https://bugs.python.org/component my bpo account Alex.Willmer is listed in add_to_nosy for component 28 (Cross-Build). I would to be removed, but it appears there's no web UI to do so, or its something I lack permission to do.

Please could you remove me, apoologies if this is the wrong avenue to make this request.

[2022-03-15 18:11] ezio-melotti commented on #135
I now removed you from the `add_to_nosy` for `Cross-Build`.

[2022-03-15 18:11] #135 closed, assigned to ezio-melotti

[2022-03-23 21:28] asaboor-gh opened #136 "Context manager does not update frame line number on exit"
When you use a context manager, you can collect code block inside it based on line number in `sys._getframe().f_back.f_lineno` and `linecache.getlines(file)`. For example

[code]
Before 3.10, `M = N +2` holds but in 3.10 it is `M = N`. Is it a bug or new design?

[2022-03-27 11:58] noobLei opened #137 "MemoryError"
Traceback (most recent call last):
  File "python_AFL.py", line 110, in runFuzzer
    runtime = runApplication(input_path, mode)
  File "python_AFL.py", line 75, in runApplication
    exec(f.read(), {'buff': input_data})
  File "<string>", line 16, in <module>
  File "<string>", line 10, in fuzz
  File "/usr/lib/python3.6/codeop.py", line 122, in compile_command
    return _maybe_compile(_compile,

[2022-03-30 15:28] matrixise commented on #137
This issue is related to Python. Please use the user mailing https://www.python.org/community/lists/

[2022-03-30 15:28] #137 closed, assigned to nobody

[2022-03-30 15:29] matrixise commented on #136
Please, this repo is not related to Python itself. If you think it's a bug, open an issue on https://bugs.python.org

[2022-03-30 15:29] #136 closed, assigned to nobody

[2022-03-30 15:30] matrixise commented on #132
This repository is not about Python itself. If you think it's an issue about Python, open an issue on https://bugs.python.org

[2022-03-30 15:30] #132 closed, assigned to nobody

[2022-03-30 15:32] Xenox-Inno commented on #132
Thanks Stéphane.

On Wed, Mar 30, 2022, 23:30 Stéphane Wirtel ***@***.***>
wrote:

[2022-04-24 07:43] ipmshen opened #139 "多重继承问题：super中传一个多重继承的类，只能识别到第一个"
问题描述：
B继承A，Y继承Z，BY继承B和Y，那么BY中的super只能代表B（如果是YB则只能代表Y），希望是可以super可以代表BY，代码如下：
class SkillMixin(object):
    def __init__(self,skillName):
        self.skillName = skillName
class BasketballMixin(SkillMixin):
    def __init__(self,skillName):
        super(BasketballMixin,self).__init__(skillName)

class Person(object):
    def __init__(self,name,gender):
        self.name = name
        self.gender

[2022-05-05 19:57] rungrotArunon commented on #62
Thanks you

[2022-05-11 00:17] #129 closed, assigned to nobody

[2022-07-03 01:56] 5xstar opened #140 "sum(iterable, /, start=0) start argument act error"
7

7

[2022-07-14 18:24] thetorpedodog commented on #107
I’m going to mark this as closed since BPO is no longer a Thing.

[2022-07-14 18:24] #107 closed, assigned to nobody

[2022-07-15 20:07] Danilex22 opened #141 "ERROR Unable to complete operation on element with key None"
![Capturar](https://user-images.githubusercontent.com/109318402/179302665-aa17e126-96c5-42e2-a821-c69e96a3ef6d.PNG)

[2022-08-15 18:28] Sachidananda2002 opened #142 "print() is not working"
while executing the bellow code print() stops working
so there must be warning for it.
li=[1,23,45,7]
li=li,input("")
print(li)
when i am exploring in detail i found this problem
this dose not show any error and work correctly
but print() is not working in the whole code

[2022-09-06 08:42] matrixise commented on #133
I close this issue since we use Github as the issue tracker

[2022-09-06 08:42] #133 closed, assigned to nobody

[2022-09-06 08:43] matrixise commented on #142
Sorry but your issue is mainly for the user list and not for this project.

I close it

[2022-09-06 08:43] #142 closed, assigned to nobody

[2022-09-06 08:43] #140 closed, assigned to nobody

[2022-09-06 08:45] matrixise commented on #139
Sorry, but this tracker is not for Python itself. Please use the right Mailing list for that. https://discuss.python.org/

[2022-09-06 08:45] #139 closed, assigned to nobody

[2022-09-06 08:45] matrixise commented on #141
not related to this project. sorry

[2022-09-06 08:45] #141 closed, assigned to nobody